[2014-05-05 11:06] lfryc opened #2 "Installing angular-patternfly as dependency does install no files"
Since all the files are ignored in bower.json, when we use:

[code]

no files are installed (incl. /dist folder).

[2014-05-05 12:02] #2 closed, assigned to nobody

[2014-07-02 06:51] lfryc opened #4 "Provide lo-autofocus as a pf-autofocus directive"
LiveOak's `lo-autofocus` directive is implemented here:

https://github.com/liveoak-io/liveoak/blob/792ef16af6cba1c5d452f2f3cd8f8f5a679df8d5/console/src/main/resources/app/js/directives.js#L258

It would be handy to expose it as `pf-autofocus` directive to allow sharing this functionality between diffirent consoles.

[2014-07-15 14:53] #4 closed, assigned to nobody

[2014-10-20 21:42] Martinsos opened #12 "There is no patternfly.formgroup module"
In dist/angular-patternfly.js there is a declaration of `patternfly` module, and in that declaration one of stated dependencies is `patternfly.formgroup`. However, there is no such module so error is returned, and I am guessing it would be correct to put `patternfly.form` instead.

[2014-10-20 22:45] Martinsos opened #13 "selectpicker undefined"
I get error that .selectpicker() is undefined on line 674 in directive `patternfly.select`.
Do you maybe know what is the problem here? Where is this selectpicker supposed to come from?
I included patternfly in my project but I did not include any bootstrap, I am supposed to include bootstrap?

[2014-10-20 23:48] #12 closed, assigned to nobody

[2014-10-24 14:13] #13 closed, assigned to nobody

[2015-03-26 21:50] mtho11 opened #15 "Move to Angular 1.3.x?"
Are there intentions to move to Angular 1.3.x. Just wanting to remove resolutions in our bower file.

[2015-03-26 21:50] mtho11 commented on #15
CC @vrockai

[2015-03-27 12:45] kenfinnigan commented on #15
There's no objections from me.

By all means submit a PR with the change

[2015-03-27 17:18] vrockai commented on #15
I'll make that next week.

[2015-04-03 12:42] vrockai commented on #15
https://github.com/patternfly/angular-patternfly/pull/16

[2015-04-10 13:44] #15 closed

[2015-04-10 13:57] kenfinnigan commented on #15
@mtho11 0.0.5 is now released

[2015-07-23 17:47] erundle opened #20 "Create a directive to wrap bootstrap date picker"
Write a directive to wrap the bootstrap date picker that is available in patternfly 2.0

[2015-07-23 17:49] erundle opened #21 "Create a card directive"
Create a directive that encapsulates the patternfly reference HTML for a the card component

[2015-08-03 14:07] #20 closed

[2015-08-03 18:42] stackus opened #27 "Bower.json 'main' has minified and unminified files"
The main section for bower.json lists both the unminified and minified versions of the code. Are both really needed?

We're using wiredep to include our bower components automatically and it is picking up both of these files.

[2015-08-10 14:12] erundle commented on #21
Merged in https://github.com/patternfly/angular-patternfly/pull/28

[2015-08-10 14:12] #21 closed

[2015-08-10 14:16] erundle commented on #27
I took a look at the other angular projects and it looks like they only include the non minified version in main even though the send down the minified and unminified files. Ex: Angular just has "main": "./angular.js", but sends down angular.js and angular.min.js. Would "main": "dist/angular-patternfly.js" be sufficient for you?

[2015-08-10 14:28] stackus commented on #27
It would work great! Either would work but having the non-minified version helps with debugging.

[2015-08-11 14:33] #27 closed

[2015-08-19 20:11] waldenraines opened #34 "Use ng-annotate"
We should be using [ng-annotate](https://github.com/olov/ng-annotate) via [grunt-ng-annotate](https://github.com/mzgol/grunt-ng-annotate) to avoid verbose function declarations when using dependency injection.

It turns this:

[code]

into this

[code]
automatically at build time so minificaiton is safe.

[2015-08-19 20:30] waldenraines opened #35 "Support i18n and l10n"
We have several English strings in angular-patternfly and should support internationalization and localization.

I've used [angular-gettext](https://github.com/rubenv/angular-gettext) in the past but I think it would be better to provide files per language if possible using something like [grunt-static-i18n](https://github.com/beck/grunt-static-i18n) perhaps?  Then the consumer of angular-patternf

[2015-08-19 20:50] dtaylor113 commented on #35
Hi, yeah, I was wondering about that.  We do have several hardcoded, customer facing, strings in angular-patternfly.
+1 for this suggestion

[2015-08-20 00:30] mtho11 opened #37 "Any Plans to support semver Angular 1.4.x?"

[2015-08-24 15:58] dtaylor113 commented on #35
We were considering a simpler approach that strings are passed in via a language object like this:

http://api.highcharts.com/highcharts#lang

We have a copy of the object with english defaults in the directive and then if the application passes us one as well we overlay what they gave us with what we have and those are the versions of the strings that we use.

Keep it simple and let the products

[2015-08-24 17:11] erundle commented on #35
I would prefer to have the consuming applications pass in the strings to the given directives than having angular-patternfly handle the translations directly. If we were to handle the translations we would need to check in translations for all possible languages and the parent application would need to tell us what language to use dynamically at runtime (Need to be able to handle user preferences

[2015-08-24 18:24] serenamarie125 opened #42 "pfCard Ng-Docs issues"
1 - The Parameters show that the "showTopBorder" is false by default, but the Demo, shows the border.  If it isn't the default, i'd suggest it's not shown.  Can the demo be enhanced to allow the option to show/hide the border?
2 - Typo here ... "subtTtle"

<img width="546" alt="pfcardtype" src="https://cloud.githubusercontent.com/assets/12504403/9448585/6d360920-4a6b-11e5-8884-349f271a7090.png">

[2015-08-24 18:42] waldenraines commented on #35
Those are good points, I have to keep reminding myself that this is a library of components and not a web application :smile:

I agree that we should allow the users of angular-patternfly the ability to pass in their own strings.

Will we need some way to handle plurals?  A switch and replace is obviously fine for "1 item", "2 items" but it gets tricky with languages that support multiple plural f

[2015-08-25 19:54] erundle commented on #37
As of right now we haven't looked at 1.4.x support. I just upgraded the project to support Angular 1.3 so that gets us closer.

I am not aware of anything particular in the project right now that should stop you from using 1.4 with the provided directives. Is your project currently using 1.4 or is this a nice to have?

[2015-08-25 21:54] mtho11 commented on #37
Yes, we are currently using 1.4.x. I wasn't looking for any specific functionality related to that, just a bower semver range that would support 1.4 more easily.

[2015-08-26 14:19] erundle commented on #42
Addressed in https://github.com/patternfly/angular-patternfly/pull/44

[2015-08-26 14:19] #42 closed

[2015-08-27 13:39] erundle opened #48 "Create a demo.css file"
Create a demo.css file so that we can put demo css into it. This file should be for showcase purposes only and not get distributed via bower.

[2015-08-27 13:42] #34 closed

[2015-08-27 15:52] jeff-phillips-18 opened #49 "Add Unit Tests for pfTranscludeDirective"
We need to add unit tests for the pfTransclude directive

[2015-09-02 15:38] #37 closed

[2015-09-02 19:33] dtaylor113 opened #61 "Missing info. in Sparkline chart ng-docs"
Please add a description of 'total' to the chartData ng-doc

chartData	  object  the data to be shown as an area chart
.xData - Array, X values for the data points, first element must be the name of the data
.yData - Array, Y Values for the data points, first element must be the name of the data
**.total - (optional)  The Total amount, used when determining percentages**

[2015-09-02 20:24] #49 closed

[2015-09-03 16:22] waldenraines opened #65 "Show component styles in plunkr"
Need to figure out a way to get the styling from demo.css into plunkr.

See also #48.

[2015-09-03 16:44] waldenraines opened #66 "The donut pct chart should allow for configurable colors"
Instead of setting the colors of the donut percentage chart in the directive itself we should add classes that describe the desired state and set the colors in patternfly.css.  This will allow consumers of angular-patternfly to override these colors as needed.

See also https://github.com/patternfly/angular-patternfly/pull/64/files#r38665528

[2015-09-03 17:13] #48 closed

[2015-09-03 20:07] erundle opened #68 "2.1.1 requires that c3/d3 script includes be added to the base project for patternfly module to work"
We only want to require c3/d3 if patternfly.charts is being used. We need to remove this dependency.

[2015-09-03 21:08] mtho11 commented on #68
+1
We have different version of d3 than what is used in c3.

[2015-09-04 11:08] #68 closed

[2015-09-07 07:42] kamleshverma1 opened #72 "If jQuery is not being used in application , than pfDonutPctChart directive having issue with $.extend function"
If jQuery is not being used in application , than in pfDonutPctChart directive having issue with $.extend function , this is jQuery function , and here jquery is not being used , so either  $.extend wherever is used that should be not there. or we should have our own custom javascript extend function , that will merge two object and return in to the first object .

[2015-09-08 12:49] dtaylor113 commented on #72
Hi,
We use $.extend in several of the angular-patternfly charts, as well as a few components in patternfly itself:

Targets
    Occurrences of '$.extend' in Project
Found Occurrences  (143 usages found)
    Unclassified occurrence  (141 usages found)
        angular-patternfly  (141 usages found)
            lib/patternfly/components/bootstrap-combobox/js  (2 usages found)
                bootstra

[2015-09-08 12:52] dtaylor113 commented on #72
Hi,
We use $.extend in several angular-patternfly charts, as well as patternfly itself:

Targets
    Occurrences of '$.extend' in Project
Found Occurrences  (143 usages found)
    Unclassified occurrence  (141 usages found)
        angular-patternfly  (141 usages found)
            lib/patternfly/components/bootstrap-combobox/js  (2 usages found)
            lib/patternfly/components/bootstrap-dat

[2015-09-08 15:27] erundle commented on #72
$scope.config = angular.extend({}, c3ChartDefaults.getDefaultDonutConfig(), $scope.config);

[2015-09-08 15:37] kmkanagaraj commented on #72
@erundle  :+1:

[2015-09-08 15:58] dtaylor113 commented on #72
Hi,
I'm trying:

$scope.config = angular.*merge*({}, c3ChartDefaults.getDefaultDonutConfig(),
$scope.config);

..as angular.extend doesn't support 'deep-copy'.

On Tue, Sep 8, 2015 at 11:37 AM, Kanagaraj M <notifications@github.com>
wrote:

--
Dave Taylor
Principle Software Engineer
(978) 392 - 1016

[2015-09-08 18:18] #61 closed

[2015-09-08 18:18] #72 closed

[2015-09-10 17:24] jeff-phillips-18 opened #78 "Use i18n support for icons in sort directive"

[2015-09-10 17:25] erundle opened #79 "Fix i18n issue with Sort Icons"
Sort icons for alphabetic and numeric are using A-Z and 1-9. This doesn't translate so we need to add an alternative for non english languages.

[2015-09-10 17:28] jeff-phillips-18 commented on #78
Duplicate of https://github.com/patternfly/angular-patternfly/issues/79

[2015-09-10 17:28] #78 closed

[2015-09-14 17:00] AllenBW opened #85 "angular.merge is not a function .controller"
Downloaded the latest, saw the above error when employing pfSimpleFilter / pfDataToolbar.  Working on the issue presently, will provide additional information as the issue becomes clearer.

**more info**
the below commit does away with angular extend in lieu of merge, this is presently not supported by angular > 1.4  (ie 1.3.18)
https://github.com/patternfly/angular-patternfly/commit/be9c015fd4aad

[2015-09-14 17:55] AllenBW commented on #85
I upped the angular version to 1.4, error went away, is support for 1.3.x by the wayside?

[2015-09-16 17:59] #85 closed

[2015-09-17 13:45] erundle opened #93 "Update docs search to only go against the component name"
Right now it is searching the entire document for a match

[2015-09-17 14:18] waldenraines commented on #93
Is it possible to do both?

[2015-09-17 14:21] erundle commented on #93
It is searching both I believe.

It looks like this is the only option:
bestMatch

[default] false

The best matching page for a search query is highlighted and get selected on return. If this option is set to true the best match is shown below the search field in an dropdown menu. Use this for long lists where the highlight is often not visible.

[2015-09-17 14:24] erundle commented on #93
Which apparently doesn't do much...

[2015-09-22 19:26] jeff-phillips-18 opened #98 "API Doc page has empty opening page"
The API page (currently located at http://angular-patternfly.rhcloud.com/#/api) starts with a blank page. This should have some information about the angular-patternfly project and the overall Angular Patternfly API.

[2015-09-23 16:03] dtaylor113 opened #99 "Ng-Docs 'docs.css' overriding/conflicting with PatternFly styles"
For example, if I look at:
http://angular-patternfly.rhcloud.com/#/api/patternfly.card.directive:pfCard

Inspect "My Card Title", I see that '.content h2' selectors are overriding 'pf' selectors:

.content h2 {
  font-size: 24px;
  line-height: 36px;
}

.content h2, .content h3, .content h4, .content h5 {
  margin: 1em 0 5px;
}
.card-pf-title {
  ~~font-size: 16px;~~
  font-weight: 400;
  ~~margin

[2015-09-24 16:55] AllenBW opened #102 "pfSimpleSort not included in bower dist 2.2.1"
When installing angular-patternfly v2.2.1 via bower,  angular-patternfly.js is missing the pfSimpleSort directive.

[2015-09-24 16:59] jeff-phillips-18 commented on #102
pfSimpleSort was added after 2.2.1 was released. It is in the master repo and will be included in the next release.

[2015-09-25 14:43] jeff-phillips-18 opened #103 "pfCard directive should not show heading area if no title is given."
If I try to create a card with no title, I get a blank area and a separator above my content.

[2015-09-25 14:45] dtaylor113 commented on #103
Can you post the HTML you are using?

[2015-09-25 14:51] jeff-phillips-18 commented on #103
<div pf-card show-top-border="true">
        <span> HELLO THERE </span>
      </div>

[2015-09-25 20:24] waldenraines opened #105 "pfCard footer should be refactored out of pfCard"
Instead of using a string in a config object we should use directives and transclude the content of the directive into the appropriate sections.  Either that or we could look into using [angular-blocks](https://github.com/wmluke/angular-blocks).

See also https://github.com/patternfly/angular-patternfly/pull/100#issuecomment-143237400

[2015-09-25 20:30] #99 closed

[2015-09-28 19:55] dtaylor113 commented on #103
Fixed via #106

[2015-09-28 19:55] #103 closed

[2015-09-29 15:04] serenamarie125 commented on #105
@waldenraines the goal in supplying these directives is to promote consistency.  I'd rather ask for requests of specific content that we may have missed per this design and see if there's a way that we can provide it.  We don't want to promote the ability to allow complete customization, since that will promote inconsistency.

[2015-09-29 16:45] #98 closed

[2015-09-29 16:47] erundle opened #109 "Remove angular-bootstrap-prettify.js from source control"
A current issues with ngDocs and angular ui-bootstrap is causing us to keep a copy of the angular-bootstrap-prettify.js checked into angular-patternfly.

This file should be removed once the following issue is resolved:
https://github.com/angular-ui/bootstrap/issues/4315

[2015-09-30 17:56] waldenraines commented on #105
@serenamarie125 I understand that goal and I wonder if there is a way that we can balance that with AngularJS best practices.

I'm not arguing for "complete customization", I'm arguing for using AngularJS best practices instead of a monolithic configuration object.

If we want to be strict on the customization we can still achieve this while using Angular the way it was meant to be used (note the

[2015-10-01 15:53] jeff-phillips-18 commented on #102
pfSimpleSort is now available in 2.3.0

[2015-10-01 15:53] #102 closed

[2015-10-01 18:57] AllenBW opened #115 "pfSimpleSort ascending/descending toggle does not function in firefox"
When using ff, the pfsimple sort direction toggle does not result in the resorting of the list.  This also affects pfDataToolbar.

[2015-10-01 19:32] #115 closed

[2015-10-24 13:16] dtaylor113 opened #136 "Utilization Bar Chart does not display in IE"
- Base PF ref impl example of Utilization Bar Chart does display in IE
- Angular Dir of Utilization Bar Chart does NOT display in IE, suspect the animate doesn't work in IE

[2015-10-24 14:36] dtaylor113 commented on #136
Known issue, working on a fix:
https://github.com/angular/angular.js/issues/2186

[2015-10-26 13:48] #136 closed

[2015-10-26 14:45] dtaylor113 opened #138 "Donut Chart: Need to provide the ability to specify HTML for the center label"
Related to #135, which was fixed to allow donut chart to display in IE and Safari, but we lost the ability to specify HTML in the center label.  This issue is to track allowing one to also specify HTML for the center label.

[2015-10-27 14:14] erundle opened #141 "IMPORTANT: see the official bug list"
https://patternfly.atlassian.net/issues/?filter=10303

[2015-11-04 13:45] himdel opened #151 "most bower devDependencies should be dependencies"
Bower's `devDependencies` are meant for things needed only for development, tests, etc. Packages that are actually depended upon for the daily operation should be listed as `dependencies` instead. (That's according to the [bower spec](https://github.com/bower/spec/blob/master/json.md#user-content-devdependencies).)

Right now, angular-patternfly's bower.json has no dependencies and everything in d

[2015-12-22 15:35] himdel opened #167 "Notifications - support named notifications / prevent duplicates somehow?"
Right now, there is no way to prevent multiple instances of the same notification at the same time, for example if you have an $http responseError interceptor that generates a session timeout message, multiple identical messages will be shown when multiple requests fail at the same time.

I'm not sure what the right approach to tackle that is, maybe we _could_ get away with simply not adding a not

[2015-12-25 12:58] sidahmedbenkhaoua opened #169 "patternfly new component"
hi,
when wa can use the new component of patternfly as liste view toast ....  ?
is not in github repository !
thanks

[2016-01-19 13:02] vrockai commented on #151
+1 on this. Setting the dependencies correctly in the angular-patternfly bower.json is crucial for [wiredep](https://github.com/taptapship/wiredep) to work correctly.

[2016-01-19 14:02] dtaylor113 commented on #151
Hi, we have created the JIRA story below and we will prioritize it in our backlog

https://patternfly.atlassian.net/browse/PTNFLY-1107

Thanks,
- Dave Taylor

[2016-01-20 14:31] jkandasa opened #175 "support for angular-ui 1.x version"
current version of angular-patternfly v2.9.0 not fully functional with angular-ui v1.x.

[2016-01-20 14:38] jeff-phillips-18 commented on #175
@jkandasa  Could you elaborate please?

[2016-01-20 14:48] jkandasa commented on #175
I was using  `angular-patternfly` with `angular-ui v0.14.x` throws the following deprecated messages and work good.

[code]

When I move to `angular-ui v1.x` some functions are not working, example drop down not working for `pfSimpleFilter`.

I guess we have to rename deprecated variables to support latest release of `angular-ui`

[2016-01-26 19:02] ammendonca opened #177 "pfSelect doesn't react to ng-options change"
When the ng-options changes, the hidden <select> element is correctly updated to reflect the change (as tested in https://github.com/patternfly/angular-patternfly/blob/aa38a2806d2df0f3ed156668104f4bd966707f82/test/select/select.spec.js#L44) but the generated dropdown (which is what's displayed in the browser) is not, and remains with the old options.

This should be fixed and the test should test

[2016-01-27 14:24] dtaylor113 commented on #177
Hi,
We have created a JIRA issue to track this bug:
https://patternfly.atlassian.net/browse/PTNFLY-1122

We will prioritize this work in our upcoming sprints.
Thank you,
- Dave Taylor

[2016-02-18 23:52] jlandry opened #190 "LICENSE.txt?"
I would assume Angular-Patternfly to be under the Apache 2.0 License because Patternfly itself is but Angular-Patternfly does not have a license.txt.

What license is Angular-Patternfly intended to be used under?

[2016-02-18 23:59] mebert opened #191 "License"
What is the license for Angular Patternfly

[2016-02-19 14:18] dtaylor113 commented on #190
Hi, yes I believe that is correct.  We will add a license.txt file to the angular-patternfly repo.
Thank you for bringing this to our attention.

[2016-02-19 14:19] dtaylor113 commented on #191
Hi,
I believe angular-patternfly should be the same licensing as patternfly which is an Apache 2.0 License.  We will add a license.txt file to the angular-patternfly repo.
Thank you

[2016-02-19 14:25] dtaylor113 commented on #177
I believe this was fixed with pull request:
https://github.com/patternfly/angular-patternfly/commit/8484123fcbbf5ef0c6b8f87cca527d678a70e9b0

[2016-02-19 14:25] #177 closed

[2016-02-19 15:04] dtaylor113 commented on #151
Hi,
I believe this was addressed in commit:
https://github.com/patternfly/angular-patternfly/commit/5309c44a904f42c39ebf79498ec43ad145d21e61

This should be included in angular-patternfly v2.10.0.

Thanks,
- Dave

[2016-02-19 15:04] #151 closed

[2016-02-19 15:05] dtaylor113 commented on #169
Hi,
Can you please elaborate what component you are looking for?
Is it "list view" and/or "toast notifications"?
Thanks,
- Dave

[2016-02-19 15:06] dtaylor113 commented on #138
Closing until a consumer actually requests this.

[2016-02-19 15:06] #138 closed

[2016-02-24 19:57] romanblanco opened #193 "Action button in pfToolbar has broken style"
It looks that there is wrong padding for button, In case I have just one Action button used in [pfToolbar](http://angular-patternfly.rhcloud.com/#/api/patternfly.toolbars.directive:pfToolbar):

code example:

[code]

**screenshots:**

_single action button:_
![screencapture-localhost-3001-self_service-dialogs-1456343129813](https://cloud.githubusercontent.com/assets/1187051/13298858/cd4ef4a8-db38-

[2016-02-25 10:11] skateman opened #194 "Incompatibility with patternfly-sass 3.x"
Specifying `patternfly` as a [dependency](https://github.com/patternfly/angular-patternfly/blob/master/bower.json#L42) in this project causes SASS **load path issues** when used with patternfly-sass in a Rails application. My suggestion would be to create a fork or a special version calles *angular-patternfly-sass* where the `bower.json` and `package.json` files specify `patternfly-sass` as a depe

[2016-02-25 10:12] skateman commented on #194
cc @dclarizio @epwinchell @martinpovolny @himdel

[2016-02-25 10:23] martinpovolny commented on #194
Well it would be nice if we could actually consume the Patterfly stuff w/o having to modify it.

Who are all the patternfly consumers and how do they consule Patternfly anyway?

[2016-02-25 14:02] dtaylor113 commented on #190
Hi,
We added an "Apache 2.0" LICENSE.txt file to the angular-patternfly repo. 45a43b74dfc563c97951d37cc991126c2cf9fb0e

Thanks,
Dave

[2016-02-25 14:02] #190 closed

[2016-02-25 14:03] dtaylor113 commented on #191
Hi,
We added an "Apache 2.0" LICENSE.txt file to the angular-patternfly repo. 45a43b74dfc563c97951d37cc991126c2cf9fb0e

Thanks,
Dave

[2016-02-25 14:03] #191 closed

[2016-02-25 14:04] dtaylor113 commented on #169
As of angular-patternfly v3.1.0 the "list view" and "toast notifications" should be available.
Thanks,
Dave

[2016-02-25 14:04] #169 closed

[2016-02-25 17:23] serenamarie125 commented on #193
@romanblanco I'm assuming that you are talking about the fact that there is no bottom padding on the Edit button in your first screenshot.  Can you please confirm?

[2016-02-25 18:36] romanblanco commented on #193
@serenamarie125 yes, that is what I'm talking about :blush:

[2016-02-26 15:01] skateman commented on #194
I created a -sass version of this package with fixed dependencies:
https://github.com/patternfly/angular-patternfly-sass

[2016-02-26 15:01] #194 closed

[2016-03-04 21:16] merlinthp opened #203 "Request for enhancement: angular-patternfly-style modal directive"
I want to use modals in my angular-pf application, and it'd be nice to have a directive to take a lot of the repetitive work and boilerplate HTML out of it.  angular-bootstrap has a modal service, but it doesn't really seem to match the angular-pf style.  The modal service needs to be fed a full template to create the modal from, including all the boilerplate, whereas existing angular-pf directive

[2016-03-14 17:28] ammendonca opened #204 "Provide access to the chart object for C3 charts"
When using C3 charts is often necessary to access the API for performing additional operations. For that, it should be possible to get access to the chart object that is generated by C3.

[2016-03-15 14:42] #193 closed

[2016-03-16 13:48] #204 closed

[2016-03-23 19:42] spadgett opened #212 "Have to tap pf-sort dropdown twice on iOS"
Mobile Safari will treat the first tap as a hover and only open the dropdown on the second tap. Also the tooltip overlays the dropdown items.

<img width="487" alt="screen shot 2016-03-23 at 3 39 34 pm" src="https://cloud.githubusercontent.com/assets/1167259/13998411/8004fe6e-f10d-11e5-855f-46ff9e16c472.png">

/cc @jwforres @rhamilto

[2016-03-23 19:48] rhamilto commented on #212
So it sounds like we need to request the Angular-PatternFly directive has a tooltip position option?

[2016-03-23 19:53] spadgett commented on #212
I can reproduce on a desktop as well.

![screen shot 2016-03-23 at 3 48 23 pm](https://cloud.githubusercontent.com/assets/1167259/13998674/c80df084-f10e-11e5-996e-b6a0670ad0d1.png)

Tooltips don't work well on mobile, particularly on buttons. If the dropdown is confusing, does it deserve a label instead?

[2016-03-23 19:56] spadgett opened #213 "pf-sort directive not accessible"
The links in the sort menu are missing `href` attributes and can't be activated using the keyboard. They also don't get the pointer mouse icon on hover because of the missing `href`.

/cc @jwforres @rhamilto

[2016-03-24 13:39] karelhala opened #215 "Make angular-patternfly available in node packages"
We are trying to port some things to angular in ManageIq and for that we use custom ui components which depends on angular patternfly, but we are trying to use only npm for managing these custom ui components. So it would be nice if this repository would be also available in node packages and not only at bower.

[2016-03-24 14:08] dtaylor113 commented on #215
Hi,
I do not see a npm for 'angular-sanitize', and I only see an unofficial npm for 'angular-bootstrap', so I'm not sure angular-patternfly can be installed via npm only.

[2016-03-29 12:31] #213 closed

[2016-04-03 14:27] SebastianBerc commented on #215
https://www.npmjs.com/package/angular-sanitize

[2016-04-06 16:10] jkandasa commented on #175
`HeatMap` chart tooltip is not working with `angular-ui-bootstrap` version `0.14.3`

[2016-04-06 16:12] jkandasa commented on #175
@jeff-phillips-18 Any plan to support recent version of `angular-ui-bootstrap` in near future?

[2016-04-07 10:59] karelhala commented on #215
Well we used [Bower webpack plugin](https://www.npmjs.com/package/bower-webpack-plugin ) eventually, but it would be really nice to have angular patternfly as node package since it looks like JS world is slowly shifting towards node.

[2016-04-07 18:05] mtho11 commented on #215
Not having angular-patternfly as npm is essentially a gating factor to Angular 2 usage.

[2016-04-12 13:49] dtaylor113 commented on #215
Just found an official NPM package for angular-bootstrap :-)

https://www.npmjs.com/package/angular-ui-bootstrap

[2016-04-29 07:20] bangert opened #229 "Support Field Level Help in pfFormGroup"
https://www.patternfly.org/patterns/field-level-help/

Native Field Level Help as defined in stock patternfly would be nice to have in the pfFormGroup directive.

The field level help would simply be defined in a new optional attribute. Possibly

[2016-04-29 22:30] mustafaakin opened #230 "Example not working"
I have tried the following as suggested in the main page

[code]

And

[code]

But the following error is given:

[code]

Two major reasons:
- There is no `/bower_components/patternfly/components/d3/d3.min.js` and for `c3`. They are in seperate folders.
- When I used the non-minified patternfly.js, and corrected the d3 and c3 paths, I see the error is generated  from this line where $ is undefined

[2016-05-02 13:12] dtaylor113 commented on #230
Hi,
What version of Angular-PatternFly are you using?
Thanks,
- Dave

[2016-05-02 13:20] dtaylor113 commented on #230
I think you might be missing a link to patternfly js file:

<script src="bower_components/patternfly/dist/js/patternfly.min.js"></script>

- Dave

[2016-05-02 13:41] mustafaakin commented on #230
Well, you are right, the correct way to run the example is to include original `patternfly.js` and JQuery as well.

[code]

Should I make a pull request for this? Upon reading README.md I assumed it will work with just `angular-patternfly.js` like ui-bootstrap module which does not have `bootstrap.js` but only `ui-bootstrap.js`

[2016-05-02 14:50] dtaylor113 commented on #230
Hi, I think this would be great in an Angular-PatternFly QuickStart Guide, similar to PatternFly's QuickStart Guide:  https://github.com/patternfly/patternfly/blob/master/QUICKSTART.md

I could see a PR for that,
Thanks,
- Dave

[2016-05-16 21:27] ammendonca opened #234 "pfSelect doesn't support "track by" in ngOptions"
When trying to use "track by" expression with pfSelect, an error is thrown.

eg:
`<select pf-select ng-model="pet" id="pet" ng-options="o as o for o in pets track by $index"></select>`
throws
`Error: [$parse:syntax] Syntax Error: Token 'track' is an unexpected token at column 6 of the expression [pets track by $index] starting at [track by $index].`

It should be possible to use it, as it is witho

[2016-05-19 19:24] dtaylor113 commented on #65
+1

Angular-PatternFly Plunker examples aren't styled correctly:

I believe the PF javascript is referenced correctly in the generated Plunker, however none of the PF styles/css seems to be included:

![image](https://cloud.githubusercontent.com/assets/12733153/15401817/398c6a4c-1dbf-11e6-968c-906d048a853b.png)

Note: this issues exists in the angular-patternfly ng-doc generation.  Research might

[2016-05-22 04:23] carlosthe19916 opened #237 "Access to c3 basic function"
How can i use a basic function from c3.js for example chart.resize() there is no access those functions on the controller

[2016-05-26 12:56] #234 closed

[2016-06-03 23:35] serenamarie125 opened #242 "The "Mark All Read" link in the notifications drawer should be fixed at the bottom of the open drawer"
"Mark All Read" should be associated with each of the notifications drawers.

In the current implementation [1], Mark All Read is fixed under the last drawer title. This is misleading as it only works on the items which are in the open drawer.

The initial intent of this design was to have the Mark All Read link fixed at the bottom of the open drawer. The design pattern documentation isn't explici

[2016-06-07 13:37] #242 closed

[2016-06-07 16:08] jeff-phillips-18 opened #245 "Patternfly accordion styling for open/close indicator does not effect Angular Bootstrap accordions"
Angular Bootstrap does not add the collapsed class to accordion groups that are closed. Therefore, the patternfly styling to show V for open and > for closed does not take effect, all groups show V regardless of state.

[2016-06-07 17:14] #245 closed

[2016-07-18 13:17] giovtorres opened #262 "[Feature request] Allow heat maps to order by id or value"
I've written a javascript monitoring application for an HPC cluster that uses D3 to create an SVG heatmap.  I've been considering migrating to Patternfly because it looks very clean, modern and, most of all, I wouldn't have to do as much CSS work! :)

My heatmap is ordered by hostname, not by their respective cpu load values.

I like the Patternfly heatmap, but please consider adding the option to

[2016-07-18 13:28] dlabrecq commented on #262
Can you please clarify how ordering by ID would help you? What syntax would an ID have in order to provide meaning to a heat map?

[2016-07-18 13:38] giovtorres commented on #262
Here's a screenshot of the heatmap I've made manually.  It is ordered by hostname, not by value.  The color of each node is still represented by the value, just the ordering is done by id. It would lose some meaning to us if it were ordered by value, i.e. cpu load.

![heatmap](https://cloud.githubusercontent.com/assets/4281845/16916454/e40a1af2-4cca-11e6-80a6-332a303dd5f7.png)

[2016-07-21 20:45] benjaminapetersen commented on #212
IMHO, i'd rather there be a label   `"sort by:  <dropdown>"`

[2016-07-25 19:02] benjaminapetersen commented on #212
So a "tooltip position" option may not be necessary, since the dropdown drops down & there are controls to left and right, prob the position should just be top?

Otherwise, if I were going to control it I'd want something like:
[code]
If its added to a `div` instead of as a standalone node, I suppose it should be namespaced so it doesn't clash with other directives on the node:
[code]

The `config

[2016-07-25 19:05] benjaminapetersen commented on #212
Files to fix for reference: https://github.com/patternfly/angular-patternfly/tree/master/src/sort
@MarkDeMaria

[2016-07-25 19:09] spadgett commented on #212
Positioning the tooltip elsewhere doesn't fix the iOS problem where you have to tap twice.

@ajacobs21e Suggested removing the tooltip altogether, which I think is a better solution.

[2016-07-25 19:10] benjaminapetersen commented on #212
True, and thats prob the most bothersome.
Sounds good!

[2016-07-26 18:04] fhornain opened #270 "Unable to get the donut - pfC3Chart - from API Documentation"
Hi,
Well,  I followed the setup instruction given at the following URL  - https://github.com/patternfly/angular-patternfly -
Then I tried the example given at the following API documentation page -  http://angular-patternfly.rhcloud.com/#/api/patternfly.charts.directive:pfC3Chart -.
I created a index.html as well as a script.js files but was never able to get the same outcome show at the bottom of

[2016-08-01 16:47] dtaylor113 commented on #270
Hi, if you would like the donut chart, please follow the donut chart example:  http://angular-patternfly.rhcloud.com/#/api/patternfly.charts.directive:pfDonutPctChart
HTH,
- Dave

[2016-08-01 17:00] #212 closed

[2016-08-12 18:59] skateman opened #281 "Cannot checkout tagged commits newer than v3.7.0"
So I'm using [this script](https://github.com/patternfly/angular-patternfly-sass/blob/master/convert.sh) to generate `angular-patternfly-sass` from this repo. Now when I'm trying to check out the commit tagged as `v3.8.0` or `v3.8.1`, I receive an error.

[code]

This prevents me in releasing any new version of `angular-patternfly-sass` :cry:

[2016-08-12 20:47] priley86 commented on #281
was reviewing this with @jeff-phillips-18 just now. It appears there is currently an issue with our Travis build and removing old commits out of `master-dist` each time we issue a new build. The problem is these commits are tagged as release commits.  Will regroup with @dlabrecq and get you an answer soon.

[2016-08-13 00:36] dlabrecq commented on #281
I'm looking at the commits for master and master-dist and they look the same to me with the exception of one extra commit for dist files. Why do you believe Travis is "removing old commits"?

When Travis starts a build, it's working from a detached head (i.e., the latest commit). In order to push build changes, we create a branch (i.e., git checkout -B master). We commit the dist changes here and

[2016-08-13 06:15] skateman commented on #281
@dlabrecq no, same :disappointed:
[code]

[2016-08-15 20:32] #281 closed

[2016-08-15 21:39] dlabrecq commented on #281
FYI, that commit appears to be for 3.8.0 which didn't work for me. However, the commit for 3.8.1 does work for me:

git checkout 890de7c3fdfd785aa3c8cd0504c57706bcc405e7

[2016-08-16 07:00] skateman commented on #281
Nope, not working here :( you probably have an older local copy. Can you give me 2 commit hashes which truly refer to the 3.8.0 and 3.8.1 versions to be able to release them? Please try to check them out on a newly cloned repository if they work. Thanks!

[2016-08-16 12:28] priley86 commented on #281
@skateman can you give this another try? We have decided to point these tags to latest, as the 3.8.0 and 3.8.1 commits were orphaned by our existing build process. This has been fixed going forward as @dlabrecq mentioned.

[2016-08-16 12:33] skateman commented on #281
https://github.com/patternfly/angular-patternfly-sass/releases/tag/v3.8.0
https://github.com/patternfly/angular-patternfly-sass/releases/tag/v3.8.1

[2016-08-16 12:46] skateman commented on #281
It works, thanks!

[2016-08-31 16:27] kahboom opened #305 "Support for Angular 2"
Hey PatternFly folk! I'm a fellow Red Hatter from the apiman and iPaaS teams. For the iPaaS project we are collaborating with UXD for designs and would like to use PatternFly, but are running into some compatibility issues with the frontend stack, which consists of Angular 2 and Webpack.

Stan Lewis (@gashcrumb) proposed that we collaborate and help work on angular2-patternfly so that we don't hav

[2016-08-31 18:17] AparnaKarve opened #306 "Cannot disable the kebab dropdown in pf-list-view"
I have a use case where I need to either hide or disable the kebab dropdown in the PF list view.

I noticed that there is a `ng-class="{'disabled': checkDisabled(item)}"` in the generated html to disable the kebab dropdown as shown below, which does not work.

[code]

Also, is there an option to hide the kebab dropdown based on a condition?

/cc @jeff-phillips-18

[2016-08-31 23:52] rhwood commented on #270
FWIW, to make a donut charts with three segments, I did the following (this has been simplified a little from my production code):
[code]
and my html is:
[code]

[2016-09-01 03:25] mtho11 commented on #305
+1
I know I have asked this same question toward the beginning of the year on irc with no response (probably, the right person wasn't online). Every new project will most likely choose Angular 2 over Angular 1 so probably best to get ahead of this now.

This was the primary reason we could not move Hawkular toward Angular 2, was PatternFly. I'm guessing PatternFly will be the blocker for other pro

[2016-09-01 13:52] dtaylor113 commented on #270
Hi, we have a specific angular directive for donut charts which may be easier for you to use.  Please see: https://www.patternfly.org/pattern-library/data-visualization/donut-chart/#/api

[2016-09-01 13:58] serenamarie125 commented on #305
There have been a lot of requests for Angular2 PF support.  I think that @bleathem @andresgalante and @LHinson are meeting later this month to discuss the official PF strategy going forward.

[2016-09-01 14:37] rhwood commented on #270
How do I implement the [Relationship of a Set of Values to a Whole](http://www.patternfly.org/pattern-library/data-visualization/donut-chart/#/example-code-2) pattern using the Angular PF API?

The API documentation shows that the Angular PF donut charts only implement the [Utilization](http://www.patternfly.org/pattern-library/data-visualization/donut-chart/#/example-code-1) pattern (the only dat

[2016-09-02 14:23] AllenBW opened #307 "Missing Support for Translations"
Translation support is absent for text in some directives, one example is  `filter-results.html`:

<img width="814" alt="screen shot 2016-09-02 at 9 10 54 am" src="https://cloud.githubusercontent.com/assets/6640236/18206926/ea9b7c94-70f6-11e6-846f-78a0fc6b4e0e.png">

**"Results"** does not change to the provided translation.

This issue encompasses the totality of work that is addressing hard-code

[2016-09-15 13:23] jrusnack opened #313 "pf-datepicker to accept typed values"
In original version of bootstrap datepicker user is able to type in date into input and datepicker changes the selected date in the calendar popup:

https://eternicode.github.io/bootstrap-datepicker

With pf-datepicker, typing in even a single character makes datepicker pick a date, making it impossible to type the date - user can only pick it by clicking in the calendar popup.

Could pf-datepicke

[2016-09-15 14:41] kahboom commented on #305
As previously discussed with @priley86 and @andresgalante , I am having to use [ng-bootstrap](https://github.com/ng-bootstrap/ng-bootstrap) in conjunction with PF CSS for our project (https://github.com/hawtio/hawtio-ipaas), since ng-bootstrap already uses Webpack, Angular 2, and Bootstrap 4. So, that might be helpful to use instead of `angular-ui-bootstrap` if you are indeed interested in upgradi

[2016-09-17 01:03] kbrandwijk commented on #305
Hi, I'm currently working on a port to Angular 2, but I'm facing some design decisions. Currently I have one big choice to make, and I appreciate any input you might have. Let's take the Card as an example.
Angular-patternfly uses the approach of making everything a parameter to the directive (e.g. title, filter options etc.). The DOM is all in the template, combined with some logic in the directi

[2016-09-19 14:58] AllenBW opened #314 "Update dependencies"
The low hanging fruit, updating
`"lodash": "3.9.0"` to `"lodash": "4.15.0"`

Not so long hanging fruit, updating
`"angular-bootstrap": "0.13.3"` to `"angular-bootstrap": "2.1.3"`

Known breaking changes in the latter renaming of library components to include the `uib-` prefix.

[2016-09-21 18:09] jeff-phillips-18 opened #315 "Toolbar no longer shows separators between filters, sort, and actions"
Changes to patternfly styling has caused the borders between the Filter and Sort and Sort and Actions areas to be removed.

[2016-09-23 12:04] alexcreasy opened #317 "Unable to display icon on actionButton in pfListView"
I'd like to use the pfListView directive however all our action buttons use the PatternFly icons to add more context for the user. It would be great to be able to add a pficon / fa icon to the action buttons with or without accompanying text. Perhaps the action button could be templatized or accept an html string?

[2016-09-26 14:02] rhamilto opened #318 "pfSort dropdown does not indicated selected state"
PatternFly's dropdowns indicate an item is selected by turning the item blue with white text.  pfSort's dropdowns lack this behavior.

PatternFly Bootstrap-select example with the selected indicator
<img width="739" alt="screen shot 2016-09-26 at 10 00 18 am" src="https://cloud.githubusercontent.com/assets/895728/18836964/1a4fa2ee-83d0-11e6-90eb-99397afc2dd5.PNG">

pfSort lacks the selected indica

[2016-09-26 22:24] gustavogarayalde opened #319 "Utilization Bar Card Filters default position value"
The filters for the "Utilization Bar Card" is not showing unless a position is defined in the filters declaration.

The [documentation ](https://www.patternfly.org/pattern-library/cards/utilization-bar-card/#/angular) is out to date, the position property is not explained.

Example:
`<div pf-card head-title="{{chartConfig.chartTitle}}" show-top-border="true" filter="chartConfig.periodPicker" style

[2016-10-11 20:08] alexkieling commented on #305
Hi, everyone! I'm also a fellow Red Hatter from the Fuse team. Is there any news on PatternFly's plans regarding Angular 2? Should it be used on Angular 2 apps at this point?

[2016-10-12 09:45] kabir commented on #305
+1 - I also work for Red Hat and would like to use PatternFly with an existing Angular 2 app. I am not yet familiar with PatternFly, and so am unsure if I should wait for support, or if it is worth poking around in the meantime.

[2016-10-12 12:05] jeff-phillips-18 commented on #306
@AparnaKarve Please checkout #324 to see if this will meet your needs.

[2016-10-12 18:07] AparnaKarve opened #326 "handleButtonAction() and checkDisabled(item) do not work for actionButton"
I have a use case where I need to -
(a) Disable the actionButton the moment it's clicked
(b) Change the actionButton text when it's clicked

For e.g. -- In the screenshot below, there is a `Start` actionButton for each Service.
When I click on Start, I need the button to be disabled right away, and I also need to update the text from `Start` to `Starting`

<img width="1387" alt="screen shot 2016-1

[2016-10-12 18:08] AparnaKarve commented on #326
/cc @jeff-phillips-18 @dtaylor113

It would be great if we could fix this as well for the next angular-patternfly release.

[2016-10-12 19:15] jeff-phillips-18 commented on #326
the handleButtonAction and and checkDisabled are both working on the ngDocs page and in the unit tests. Do you have some example code that shows this not working?

Agreed, the tooltip is incorrect.

[2016-10-12 19:49] jeff-phillips-18 commented on #326
For your use case I was able to accomplish this with:

        var startButtonInclude = '<span>{{item.started ? "Starting" : "Start"}}</span>';
        $templateCache.put('start-button-template', startButtonInclude);

        var startServer = function (action, item) {
          $scope.eventText = item.name + " : " + action.name + "\r\n" + $scope.eventText;
          item.started = true;
        }

[2016-10-12 19:55] jeff-phillips-18 commented on #318
Fixed by https://github.com/patternfly/patternfly/issues/503

[2016-10-12 19:55] #318 closed

[2016-10-12 19:55] #317 closed

[2016-10-12 20:29] AparnaKarve commented on #326
@jeff-phillips-18 I have uploaded a remote branch on the `manageiq-ui-self_service` repo here that's pretty much my example code:
https://github.com/ManageIQ/manageiq-ui-self_service/compare/master...AparnaKarve:power_ops?expand=1

With your above suggested changes, all Services display `Start` and not `Starting` (see screenshot)

<img width="1394" alt="screen shot 2016-10-12 at 1 22 33 pm" src="h

[2016-10-12 20:43] jeff-phillips-18 commented on #326
You will need angular patternfly 3.12

For your start button definition you will need to specify:
  include: 'start-button-template',

And in the startService method:
  item.startService = false;

[2016-10-12 20:53] AparnaKarve commented on #326
Ok, cool. In that case, I'm very much looking forward to 3.12 😄

[2016-10-25 15:22] dtaylor113 opened #332 "Enclose all angular-patternfly directives in IIFE's"
Similar to PR #331, enclose all a-pf directives in IIFE's to prevent access globally and avoid name/function conflicts.

[2016-10-25 15:22] dtaylor113 opened #333 "nngihkehnbitterccccccdkkftnethblntjjnukhkdhteuhlfldrnvnuitu"

[2016-10-25 15:23] #333 closed

[2016-10-25 15:26] dgutride commented on #332
Directives should be namespaced already - I think a pass through to make sure there are no named functions defined globally would be a good initial pass, too.

[2016-11-03 17:12] lorthirk opened #338 "pfListView: current item not available in <list-expanded-content>?"
Hello all. I'm implementing a list using pfListView, and I'd like to gather some informations about the current item to be shown there:

[code]

But it seems that `item` is not defined inside the <list-expanded-content> scope. Am I missing something, or it needs to be implemented?

[2016-11-03 20:16] dgutride commented on #338
@lorthirk - we took a look at this and were able to repro the issue with the current example.  Can you change your example to use $parent.currentItem.childPackage.description (and so on...) when in the list-expanded-content?  I'll update the documentation once I hear back from you.

[2016-11-04 08:26] lorthirk commented on #338
@dgutride I tried but still no joy; I tried to use both `$parent.currentItem.childPackage.description` and `$parent.item.childPackage.description` removing the `ng-init` in the `<list-expanded-content>`.

Moreover, I read online ([here](http://angular-tips.com/blog/2014/03/transclusion-and-scopes/), for example) that a transcluded directive scope inherits directly from the controller's scope and n

[2016-11-04 10:42] jeff-phillips-18 commented on #338
@lorthirk Try changing the ng-if in your html to ng-if="currentItem = $parent.item". I believe that will do the trick.

[2016-11-04 10:43] jeff-phillips-18 commented on #338
@lorthirk Try changing the ng-if in your html to ng-if="currentItem = $parent.item". I believe that will do the trick.

[2016-11-04 10:58] lorthirk commented on #338
@jeff-phillips-18 I guess you mean the `ng-init`, not the `ng-if`. And indeed, it works perfectly that way. Thanks!

[2016-11-04 10:59] jeff-phillips-18 commented on #338
Yes, ng-init 😊   Need more ☕️
Glad it is working for you now.

[2016-11-04 10:59] #338 closed

[2016-11-08 16:12] lorthirk opened #340 "Webpack puts jQuery twice in the bundle"
Hi all. I'm trying to use Webpack to bundle an application with Angular-Patternfly. It seems that jQuery is loaded twice because it looks like the angular-patternfly module requires a form of "peer dependency" for patternfly. Here's the node_modules/angular-patternfly/index.js:
[code]
And [here](https://github.com/patternfly/angular-patternfly/files/578661/stats.json.txt)'s the webpack graph's JSO

[2016-11-10 13:03] lorthirk opened #342 "pfVerticalNavigation integration with angular-ui-router"
Hello,

I'm using Patternfly in an application I started to develop, and I noticed that `pfVerticalNavigation` uses the `location` service to follow the `href` attribute of the items.

I had a brief look at `pfVerticalNavigation` and it should be quite easy to modify the directive so that an item accepts a `uiSref` parameter and, if populated, it makes the directive use the `$state` service from [

[2016-11-10 13:08] jeff-phillips-18 commented on #342
Sounds like a great idea to me @lorthirk

[2016-11-10 13:15] lorthirk commented on #342
Cool. I'll start to work on that! 😄

[2016-11-15 11:15] lorthirk commented on #342
Me and @MattiaDalBen are working on the implementation, and we have a doubt on the unit test dependencies. Specifically, to implement proper testing, we would need both [angular-ui-router](https://github.com/angular-ui/ui-router) and [jasmine-jquery](https://github.com/velesin/jasmine-jquery) as dependencies. Are you ok in getting them as devDependencies in Bower, since they're only required for t

[2016-11-15 12:31] jeff-phillips-18 commented on #342
I think it's ok to add the angular-ui-router as a dev dependency.

[2016-11-17 15:12] jwforres opened #346 "upgrade to lodash 4.x"
There are a number of new methods available in lodash in the 4.x stream, however there are breaking changes between lodash 3.x and 4.x.  Currently angular-patternfly requires the 3.x version which prevents applications that use angular-patternfly from upgrading.

Would like to see investigation into upgrading the lodash version in the next major angular-patternfly release if possible.  Another opt

[2016-11-17 15:18] dtaylor113 commented on #346
Hi, just noticed we have this in our backlog:

"Remove Lodash as a required dependency in Angular-Patternfly"
https://patternfly.atlassian.net/browse/PTNFLY-1711

[2016-11-18 13:13] lorthirk commented on #340
A gentle `ping()` on this? 😄

[2016-11-18 18:04] benjaminapetersen commented on #346
A possible solution until then, lodash has a [_.noConflict()](https://lodash.com/docs/4.17.2#noConflict), like jQuery, that you could use to isolate patternfly usage of lodash & insulate patternfly consumers from the dependency lock-in.

[2016-11-18 19:45] #340 closed

[2016-11-21 15:35] jeff-phillips-18 opened #348 "Toolbar View Selectors display as if active always"
Changes to patternfly styling for https://github.com/patternfly/patternfly/pull/440 broke the styling for the view selector buttons.

[2016-11-22 16:12] bleathem commented on #348
This visible here:
http://www.patternfly.org/angular-patternfly/#/api/patternfly.toolbars.directive:pfToolbar#example_demo

The view selectors are always highlighted.

[2016-11-22 16:14] bleathem commented on #348
The _active_ class is set via the following expression:
[code]

[2016-11-22 18:18] bleathem commented on #348
The _active_ class toggling is working well.  The problem is caused by the upstream patternfly markup change.  Angular-patternfly will have to be update to use `<button>` elements rather than `<li>` elements.

[2016-11-25 16:10] karianna commented on #314
+1 - We'd like to move to the latest supported angular-bootstrap library.

[2016-11-28 09:51] lorthirk commented on #342
I think we can close this issue since the PR has been merged and released with 3.15.0.

[2016-11-28 09:51] #342 closed

[2016-11-29 15:22] karianna commented on #314
Perhaps a small bump to 0.14.3 could be made?  That would bring it in line with the latest version before the major jump and would clean up much of the $modal vs $uibModal type confusion

[2016-11-30 00:20] ceefour commented on #305
Patternfly angular 2 should use https://cli.angular.io and get it's best practices (Webpack, TypeScript, among others).

[2016-12-01 21:21] jeffbaier commented on #342
Will this work with the 1.0.0 version of UI-Router? They are currently on 1.0.0-beta.3, a final release should be coming soon. I would be interested in upgrading when it does get released. But I'll be stuck on 0.3.2 if this pfVerticalNavigation doesn't support it.

[2016-12-01 22:51] lorthirk commented on #342
is there a list of breaking changes for 1.0?

[2016-12-02 00:06] jeffbaier commented on #342
https://ui-router.github.io/guide/ng1/migrate-to-1_0

Also according to their blog -

UI-Router 1.0 for Angular 1 is looking pretty solid. We recommend users upgrade to beta.3 immediately.

[2016-12-04 11:27] lorthirk commented on #342
According to the [breaking changes notes](https://ui-router.github.io/guide/ng1/migrate-to-1_0#breaking-changes) there should be nothing stopping you to upgrade to 1.0.0. I also upgraded my local repo of Angular Patternfly to include UI Router 1.0.0-beta4 and, with some minor adjustments I'm going to propose with PR #355, all the unit tests are passing.

[2016-12-05 13:11] jeff-phillips-18 opened #357 "List view expansion expands only on toggle click but entire row shows hand cursor"
When setting the list view to include expanding rows the entire row gets the hand cursor but the click doesn't do anything unless it is on the expand toggle. In Patternfly examples clicking anywhere in the row expands the item (unless there is  a link, button, or kebab).

[2016-12-07 16:31] #315 closed

[2016-12-07 16:32] jeff-phillips-18 commented on #348
Fixed by #360

[2016-12-07 16:32] #348 closed

[2016-12-09 15:38] jeff-phillips-18 opened #368 "Items in an expansion list view that have disabled expansion are ill aligned."
If an item in a list view has the disableRowExpansion flag set, the columns for that row get mis-aligned:

![image](https://cloud.githubusercontent.com/assets/11633780/21056420/897d9690-be03-11e6-9af2-232ed4173600.png)

[2016-12-09 16:00] jeff-phillips-18 commented on #368
Mistake is in application code. Closing.

[2017-01-06 19:38] dtaylor113 opened #385 "pfToolbar: current view not sticking after hitting enter on filter value"
Reproducible at:

https://www.patternfly.org/angular-patternfly/#/api/patternfly.toolbars.directive:pfToolbar#example_demo

1. In toolbar, click on 'card view' icon on far right
2. In Name filter input field enter 'Frank' and hit [Enter]
3. Items are filtered to 'Frank', but view switches back to List view

I've debugged into this, cannot figure out why after hitting [Enter] key:

`Line 451 in src

[2017-01-09 15:57] himdel opened #386 "pfViewUtils missing from documentation"
Searching http://angular-patternfly.rhcloud.com/#/api for `pfViewUtils` doesn't find anything, even though it [clearly exists](https://github.com/patternfly/angular-patternfly/blob/676e37991e4b3cccd7412bde3edc3d1ede87e18e/src/views/view-utils.js).

[2017-01-16 14:29] #313 closed

[2017-02-01 21:17] LHinson opened #396 "List View Expand row inconsistent with design"
See: https://github.com/patternfly/patternfly-design/issues/112

[2017-02-02 16:19] rhwood opened #397 "API documentation is not available"
http://angular-patternfly.rhcloud.com/#/api/ has been returning a 503 error for a couple of days now.

[2017-02-02 16:21] jeff-phillips-18 commented on #397
Location has changed to http://angular-patternfly.rhcloud.com/#/api (Readme has been updated)

[2017-02-02 17:34] jeff-phillips-18 commented on #397
Sorry the new location is:

http://www.patternfly.org/angular-patternfly/#/api/

the readme file needs to be updated.

[2017-02-02 20:00] klinki commented on #305
Are there any news on this?

Our team is using both patternfly and angular 2 and we might help, since we are already writing some generic UI components.

[2017-02-02 20:07] gashcrumb commented on #305
There's a [quickstart here](https://github.com/patternfly/patternfly-angular2-demo-app) that shows using the 4.x beta version of angular-patternfly in an angular 2 app, am currently giving this approach a try myself, hoping this can fill the gap until there's native or web components available.

[2017-02-03 14:16] dtaylor113 commented on #305
Hi,
Recently we converted all of angular-patternfly directives to angular 1.5 components; which can now be used in Angular 2's 'hybrid' mode -where you load angular 1 & 2 in the same app using the UpgradeAdapter:

https://github.com/patternfly/angular-patternfly/releases/tag/v4.0.0-alpha.2
https://angular.io/docs/ts/latest/guide/upgrade.html

Our longer term plans include converting patternfly com

[2017-02-03 14:18] dtaylor113 commented on #305
Here is a link to a demo app. which uses angular-patternfly 1.5 components in an angular 2 app:

https://github.com/patternfly/patternfly-angular2-demo-app

[2017-02-06 19:03] jjlangholtz opened #399 "Last menu in listView drops down instead of up occasionally"
Sometimes the last menu for list views will drop down instead of up which causes some actions to disappear. The behavior is shown below from the docs example, but we are also seeing this in the ManageIQ SUI.

![list-view-last-dropdown](https://cloud.githubusercontent.com/assets/6842753/22661750/8b99bf9a-ec74-11e6-8f84-e7e4514be4eb.gif)

[2017-02-09 18:54] alexkieling opened #401 "Failed to instantiate module patternfly"
Error message:

[code]

The 'angular-drag-and-drop-lists' dependency is missing from angular-patternfly's bower.json.

[2017-02-10 05:23] dabeng commented on #396
PR - patternfly/angular-patternfly#400

[2017-02-10 05:38] dabeng opened #402 "additional info items of list-view are in a chaos"
![screenshot from 2017-02-10 10-47-01](https://cloud.githubusercontent.com/assets/5689075/22815377/c1e05808-ef20-11e6-891e-bef4974b97a3.png)

[2017-02-10 05:39] dabeng commented on #402
wrong place, sorry.

[2017-02-10 05:39] #402 closed

[2017-02-10 05:45] dabeng opened #403 "the style of expanded content of angular list-view item is different to its jquery version cunterpart"
![screenshot from 2017-02-10 10-54-49](https://cloud.githubusercontent.com/assets/5689075/22815561/cf28e0a6-ef21-11e6-9311-60f354fbd47f.png)

[2017-02-10 05:50] dabeng opened #404 "Reference Error: continueEvent is not defined on users double click disabled row of list-view"
![screenshot from 2017-02-10 10-50-01](https://cloud.githubusercontent.com/assets/5689075/22815682/8bbbad84-ef22-11e6-969d-73223d10cf58.png)

[2017-02-10 05:56] dabeng opened #405 "aggregate status cards lost some pictures"
![screenshot from 2017-02-10 13-54-39](https://cloud.githubusercontent.com/assets/5689075/22815764/5a86bee2-ef23-11e6-844d-fb9f67e479c5.png)

[2017-02-10 12:09] jeff-phillips-18 opened #406 "List view no longer shows row borders"
There are no row borders be default in the angular patternfly implementation of List View.

When https://github.com/patternfly/patternfly/pull/507 was done in Patternfly, it became required to have the list view in a list-view-pf-view container (or at minimum one with a background of the correct color for the borders).

[2017-02-10 16:00] nenonano opened #407 "pf-form-buttons and $pending form"
I see that if I'm using a custom validation directive that returns a promise, the submit button is active while form status is pending..
That’s because the submit button is only disabled while the form is invalid (myForm.$invalid). While there are pending validations and no invalid fields the form isn’t invalid (yet) and so the button isn’t disabled. The solution is to disable the button also whil

[2017-02-10 16:27] jjlangholtz opened #408 "[4.0] New pf-select component does not work with ng-model and ng-options"
Lots of existing code relies on `pf-select` to work with `ng-options` expressions. Are there any plans to add support for this with the component version?

[2017-02-11 20:13] vitorsilvalima opened #409 "Chart is flickering when updating data"
Hi guys, I`m using the Sparkline directive and it flickers when I update the data. I think this is happening because I saw that the implementation generates a new chart every time the data changes.

To solve that problem, instead of generating a new chart, we should use the load() API of the C3.js library.

This is the implementation now:

scope.$watch('config', function () {
          $timeout(fu

[2017-02-11 20:39] vitorsilvalima commented on #409
I fixed it by creating a flag that checks if the chart was already generated. If the chart was already generated, it only needs to update( load() API)  the chart with the new date as show below:

 // store the chart object
        var chart;
        var created = false;
        scope.$watch('config', function () {
          $timeout(function () {
            //generate c3 chart data
            va

[2017-02-14 15:02] benjaminapetersen opened #414 "Notification drawer TypeError if notification-groups is undefined"
Typically directives fail silently rather than throwing an error like this:

![screen shot 2017-02-14 at 10 01 28 am](https://cloud.githubusercontent.com/assets/280512/22934344/9a047574-f29c-11e6-9d09-45ce0d5f0710.png)

5546 `scope.notificationGroups.forEach` should prob check if there is an array before looping.  If throwing an error is preferred, a more descriptive error message would be helpful

[2017-02-14 22:05] benjaminapetersen opened #416 "In the docs, the landing pages are blank"
Noticed this on a few of the landing pages, for example:

- https://www.patternfly.org/angular-patternfly/#/api/patternfly.notification
- https://www.patternfly.org/angular-patternfly/#/api/patternfly.charts

Screenshots:

![screen shot 2017-02-14 at 5 02 19 pm](https://cloud.githubusercontent.com/assets/280512/22951507/6c2617bc-f2d7-11e6-9833-0aee46131cdf.png)
![screen shot 2017-02-14 at 5 02 33

[2017-02-16 22:03] benjaminapetersen opened #419 "Passing variables to patterfly-notification-drawer triggers infinite loop"
If I pass the template includes via `$scope` variables like this:

[code]

[code]

My console logs some pretty gnarly things:

<img width="514" alt="screen shot 2017-02-16 at 5 00 39 pm" src="https://cloud.githubusercontent.com/assets/280512/23043205/93219b28-f469-11e6-98a6-0de5fc66004e.png">

And the `chrome-helper` process associated with this page very quickly consumes over `1GB` of memory (thi

[2017-02-16 22:11] jeff-phillips-18 commented on #419
The includes are expected to be attributes, I believe you need to use heading-include=“{{headingInclude}}” .

Not saying it is OK to infinite loop on error but does this fix your particular issue?

[2017-02-16 22:19] benjaminapetersen opened #420 "Its not clear in the docs that the class navbar-pf-vertical is required for pf-notification-drawer to have height"
Without `<div class="navbar-pf-vertical">` wrapper, a `<pf-notification-drawer>` will have no height.  Its not clear that this is essential (or why it would be).  The example code does show the class being used, but it appears to be boilerplate along with some other classes.

[2017-02-17 03:35] benjaminapetersen commented on #419
Ah, yeah that was a dumb mistake on my part, getting the binding right fixes.

As far as that loop error goes, I'm guessing that it attempted to make an $http request for the template on the string `headingInclude` which fails and probably returns `index.html`.  The directive is likely trying to put `index.html` into the page, which reloads angular & triggers the whole cycle again.

[2017-02-17 03:44] benjaminapetersen opened #421 "The pf-notification-drawer could use a built-in dismiss action"
Using the "bell" in the top nav makes sense for opening a notification drawer, but seems a bit odd to also use as the closing action.  I'm curious if a "dismiss" action could be added at the top near the `<<` icon, or provide a `footer-include` attribute (not `notification-footer`, but one for the drawer itself) that would allow for a location to place a button to hook up a "dismiss" to toggle the

[2017-02-17 12:05] jeff-phillips-18 commented on #421
This is more of a Patternfly design pattern question. I agree with you though, I have often found myself looking for a close button.

@LHinson Could this be brought up in a patternfly design discussion?

[2017-02-17 12:06] jeff-phillips-18 commented on #419
Great. Should we close this then? I'm not sure we could fix this in the drawer code unless we were to expect variables instead and that would be a breaking change.

[2017-02-17 14:54] benjaminapetersen commented on #419
I'm fishing around a bit to see if this is a common problem with using includes, or if there is a good way to check against it.

[2017-02-17 15:37] benjaminapetersen commented on #421
Yup, would be great to iron that one out in a generic way that could be consistent across products.  Its like a natural impulse to play with the open/close immediately, so not being certain about the location of the close button is a little unsettling.

[2017-02-17 16:54] kahboom commented on #305
Just an update: Some core members from the angular-patternfly team have kindly agreed to meet with me early next week to discuss the roadmap. My hope is that we can also discuss how everyone can actively contribute to this effort to make this happen as soon as possible, as it's a high priority for many PatternFly users. Looking forward to collaborating with @bleathem and the angular-patternfly tea

[2017-02-21 15:56] benjaminapetersen commented on #421
@LHinson or anyone who may know, is the notification drawer used on any other RH products w/a solution for this button already implemented? Would be interesting to see as we are integrating the drawer this sprint in openshift.

[2017-02-22 21:56] #399 closed

[2017-03-06 13:07] jeff-phillips-18 opened #428 "[4.0] pfSelect documentation needs to be updated for the current bindings."

[2017-03-07 21:02] benjaminapetersen opened #429 "pf-notification-drawer cannot take an object for notificationGroups"
Its pretty common to be able to pass an array or an object as an arg, but the `pf-notification-drawer` will only accept an array:

[code]
Using a utility like `angular.forEach` would provide some helpful flexibility & eliminate the need for glue code to swap objects and arrays back and forth.

[2017-03-07 21:27] benjaminapetersen commented on #429
![screen shot 2017-03-07 at 4 26 37 pm](https://cloud.githubusercontent.com/assets/280512/23678628/e63d6484-0352-11e7-910d-6a2271a2e4ec.png)

[2017-03-08 15:14] benjaminapetersen opened #430 "notification instances with long text break layout in pf-notification-drawer"
The css for the message in the vertical accordion is set to `display:inline-block`, which breaks down if you have messages larger than a very simple, short sentence. Example:

<img width="720" alt="screen shot 2017-03-08 at 10 10 05 am" src="https://cloud.githubusercontent.com/assets/280512/23709440/77e01d20-03e7-11e7-8fc8-93490510e0e8.png">

Originally noticed when passing the following text in t

[2017-03-08 15:17] benjaminapetersen commented on #430
With inspector outlines:

![screen shot 2017-03-08 at 10 16 53 am](https://cloud.githubusercontent.com/assets/280512/23709736/6546b51a-03e8-11e7-904e-49a2d0687a09.png)

[2017-03-08 15:57] benjaminapetersen opened #431 "The pf-notification-drawer doesn't have a built-in way to use a "no notifications" message"
Ideally there would be a default message if there are no notifications:
![screen shot 2017-03-08 at 10 56 17 am](https://cloud.githubusercontent.com/assets/280512/23711436/e2e74be2-03ed-11e7-8509-e85d1a0aa2bb.png)

[2017-03-08 16:24] benjaminapetersen opened #432 "Provide an attribute to opt-in to the accordion within pf-notification-drawer"
The accordion is a nice feature when needed, but it would also be handy to be able to have a list of simple events.  My use case may not need the rollup.  This could be an attribute, or simply based on the structure of the `notificationGroups` object passed.  If it is a simple array, skip the `pf-fixed-accordion`.

[2017-03-10 16:35] benjaminapetersen commented on #432
If not an opt in to accordion, it could work to still use the headings, just not collapsible. That may be a good way to keep the data structure the same & just toggle the presentation.

[2017-03-10 19:27] derekmwright opened #433 "listview config for actionButton class not displaying in some cases"
When trying to pass a different class for a listview action button like `btn-danger` the default class of `btn-default` takes precedent and renders as such. `btn-primary` however seems to override `btn-default` so this seems to have gone unnoticed. I will submit a PR that fixes this by doing `btn {{actionButton.class = actionButton.class || 'btn-default'}}` in the template. Tests for the fix are i

[2017-03-13 15:06] LHinson commented on #305
Thanks for updating this issue @kahboom. Going to close out this issue since we have addressed this by starting an Angular 2 Repo.

Adding some relevant links though for others to catch up on all the latest (if you haven't already):
- Blog introducing Angular 2 and React Repos: https://blog.patternfly.org/patternfly-angular-2-and-react-repos/
- Web Components and Native Framework Proposal: https:/

[2017-03-13 15:07] #305 closed

[2017-03-13 18:16] jeff-phillips-18 commented on #408
@jjlangholtz Currently there are no plans to add support for ng-options in the 4.0 version. Would you be interested in contributing this support? If not, we can add a story to the backlog and it will be prioritized accordingly.

[2017-03-13 20:37] benjaminapetersen opened #436 "What to do if too many headings in pf-notification-drawer"
I came across this when experimenting with different ways to process data into the `pf-notification-drawer`.  Once you hit a certain number of headings, there is no way to scroll & get to the headings too low in the drawer (the only scrollers are within open headings):

![screen shot 2017-03-13 at 4 34 15 pm](https://cloud.githubusercontent.com/assets/280512/23874265/4e7f06b2-080b-11e7-9f14-17d87b

[2017-03-13 20:39] benjaminapetersen opened #437 "Side scrollers can appear on items in the pf-notification-drawer"
Here I have the same `notification-body.html` template as provided in the example, but ended up generating items with side to side scrollbars:

![screen shot 2017-03-13 at 4 39 22 pm](https://cloud.githubusercontent.com/assets/280512/23874345/a0572438-080b-11e7-923f-9bfafe759114.png)

[2017-03-30 18:01] alexkieling opened #440 "pfTableView: error when items array is empty"
On version 4.x, when the array of items provided to the pfTableView component is empty, the following error is thrown in the console:
[code]
The bug is in the following line of the validSelectionMatchProp() function:
[code]

[2017-03-30 18:03] alexkieling opened #441 "pfTableView: error when items have more properties than the defined columns"
On version 4.x, when the array of items provided to the pfTableView component contains objects with more properties than the defined columns, the following error is thrown in the console:
[code]

[2017-04-03 15:44] vkrizan opened #442 "RFE: Start Toast Notification timeout when page is focused"
`Notifications` service allows to set a delay for a Toast notifications with `NotificationsProvider.setDelay(int)`. However, if a notification comes when a user switches to other tab/window (blur), the user may miss the notification when the timeout is reached.

Notification service could start the timeout (for auto-close) when user focuses to the page/window. Until then, all non-persistent notifi

[2017-04-04 15:06] #406 closed

[2017-04-07 15:58] alexkieling opened #443 "pfListView: missing CSS class"
The top div generated by this component contains the CSS classes `list-group list-view-pf` but should contain `list-group list-view-pf list-view-pf-view`.
The missing class sets the background color to light gray.

[2017-04-07 17:55] ErnieAllen commented on #409
This solution also solves the problem of charts leaking memory each time the chart's data is updated.
In Chrome the leak leads to a crashed tab. In FF is just appears to slow down until the entire browser is unusable.

[2017-04-07 19:41] vitorsilvalima commented on #409
So, can I send a pull request? I`m pretty happy with the results in my apps.

[2017-04-12 17:46] vitorsilvalima commented on #409
I think this can be closed now.

[2017-04-12 17:46] #409 closed

[2017-04-12 21:31] vitorsilvalima commented on #270
This really needs to be implemented in Angular PF

[2017-04-14 20:26] #397 closed

[2017-04-17 13:47] dtaylor113 opened #448 "pfTableView: conflicting PF and A-PF datatables dependencies causing errors"
I'm getting the following error on a page with the pf-table-view component:
angular.js:14199 TypeError: rows.deselect is not a function
    at angular-patternfly.js:11766
    at angular.js:19942
    at completeOutstandingRequest (angular.js:6045)
    at angular.js:6324

PatternFly declares "datatables" as a dependency and angular-patternfly declares "datatables.net" as a dependency.   When wiredep

[2017-04-17 14:27] alexkieling commented on #443
Fixed in release v4.0.0-rc.1

[2017-04-17 14:27] #443 closed

[2017-04-17 16:31] alexkieling opened #449 "pfTableView with toolbar - inconsistent with design"
pfTableView with toolbar is inconsistent with PatternFly Data Tables design:
https://www.patternfly.org/pattern-library/widgets/#data-tables

Issues:
- "table-view-pf-toolbar" CSS class is missing in toolbar.
- The following CSS rules from `angular-datatables.css` are adding a top margin to the table:
[code]
- There is too much padding to the left of the toolbar action buttons.

![screenshot1](htt

[2017-04-18 14:36] alexkieling commented on #449
Two more issues:

- The following CSS rules from `angular-datatables.css` are adding a top margin to the table:
[code]
- There is too much padding to the left of the toolbar action buttons.

![screenshot1](https://cloud.githubusercontent.com/assets/1910095/25136238/ce6980f6-242a-11e7-8dcc-ba9c5cd11b59.png)

[2017-04-18 19:42] dtaylor113 commented on #270
Hi, we just put up PR #450 for "Donut Chart: Relationship of a Set of Values to a Whole"

[2017-04-18 22:42] jglogan commented on #385
I see the same problem.  It appears that the keypress in the filter input field is causing a click event that gets handled by ng-click handler of the view selection HTML for the toolbar.

If I make the following change to the keypress handler in the pfFilterFields directive, things appear to work more sensibly.

[code]

[2017-04-19 12:48] #385 closed

[2017-04-19 13:17] dtaylor113 commented on #448
Hi, angular-patternfly's 4.0-dev branch's README indicates to include the following:
[code]
The base PatternFly's Quick Start Guide states to include:

[code]
However, I believe if you are using angular datatables.net, is there a need to also include base PF's datables?  Is there a need to use base PF datatables and angular-patternfly's datatables in the same application?
Thanks,
- Dave

[2017-04-19 18:39] dtaylor113 commented on #449
This is in the 'angular-datatables' dependency and pfTableView ng-doc examples seem to render ok (in PR #452 ).   If it does not render as you want in your app, you can overwrite `table.dataTable.no-footer` in your application.
Thanks,
- Dave

[2017-04-19 19:13] dtaylor113 commented on #66
Currently, the donut chart is using patternfly colors:
- 'no thresholds' = patternfly.pfPaletteColors.blue
- 'ok' = patternfly.pfPaletteColors.green
- 'waring' = patternfly.pfPaletteColors.orange
- 'error' = patternfly.pfPaletteColors.red
I do not believe we want users to be able to override these.  Please reopen if disagree.
Thanks,
- Dave

[2017-04-19 19:13] #66 closed

[2017-04-19 19:19] dtaylor113 commented on #401
I believe this was fixed via #422

[2017-04-19 19:19] #401 closed

[2017-04-19 19:20] dtaylor113 commented on #396
I believe this was fixed via #400

[2017-04-19 19:20] #396 closed

[2017-04-19 19:28] dtaylor113 commented on #405
This seems to have been a transient issue.  I see the images in angular-patternfly v3.x and v4.x.
![image](https://cloud.githubusercontent.com/assets/12733153/25198203/c461ca56-2514-11e7-9d6c-dc0b71fe8cbe.png)

[2017-04-19 19:28] #405 closed

[2017-04-19 19:29] dtaylor113 commented on #368
This appears to have been fixed via PR #370

[2017-04-19 19:29] #368 closed

[2017-04-19 19:41] dtaylor113 commented on #357
I cannot reproduce this in angular-patternfly v3.x.  With expanding rows, clicking anywhere in the row triggers the expansion open/close.  I believe this was fixed via PR #400

[2017-04-19 19:41] #357 closed

[2017-04-19 19:43] dtaylor113 commented on #346
In angular-patternfly v4.x we upgraded to lodash 4.x.  I do not believe there are any plans to upgrade lodash in angular-patternfly 3.x.  Please reopen if you have a need to upgrade to lodash 4.x in angular-patternfly v3.x codebase.  -thanks

[2017-04-19 19:43] #346 closed

[2017-04-19 19:46] dtaylor113 commented on #326
This appears this was fixed in angular-patternfly v3.12.

[2017-04-19 19:46] #326 closed

[2017-04-19 19:49] dtaylor113 commented on #314
Hi, we've upgraded to the latest lodash and angular-bootstrap in angular-patternfly v4.x.  I do not believe there are any plans to upgrade angular-patternfly v3.x.  Please reopen this issue if you need angular-patternfly v3.x to be upgraded to latest lodash and/or angular-bootstrap. -thanks

[2017-04-19 19:49] #314 closed

[2017-04-19 19:54] dtaylor113 commented on #428
Fixed via #435

[2017-04-19 19:54] #428 closed

[2017-04-20 08:06] karianna commented on #314
@dtaylor113 What's the approximate release date for v4.x and will it be 1-2-1 feature comparable to 3.x on day one?  If it's a long time away then I'd like to have this re-opened.

[2017-04-20 13:03] dtaylor113 commented on #314
Hi @karianna, we just released v4.0.0-rc.1 (branch-4.0-dev).  All the components from 3.x are available in 4.x.  The main purpose of v4.x is to switch to Angular 1.4 directives to 1.5 components: https://github.com/patternfly/angular-patternfly/blob/branch-4.0-dev/component-conversion.md

This partial changelog discusses some of the dependency updates in v4.x: https://github.com/patternfly/angular

[2017-04-21 13:16] #449 closed

[2017-04-21 13:16] #441 closed

[2017-04-21 13:17] #440 closed

[2017-04-23 22:57] alexkieling commented on #448
I did a file diff and the `jquery.dataTables.js` files are pretty much identical, so there is no need to include both files.

Let me explain my current situation. I'm using bower and wiredep. I don't manually include the dependencies in my index.html file, wiredep does. If a project declares a file in the `main` section of the `bower.json` file, wiredep will include it in the index.html. Both `dat

[2017-04-24 13:21] dtaylor113 commented on #433
Fixed via #455

[2017-04-24 13:21] #433 closed

[2017-05-18 13:50] alexkieling commented on #448
Hi, I'm available to help. What are we going to do?

[2017-05-18 14:06] dtaylor113 commented on #448
Hi Alexandre,
I like the following solution:

   - angular-patternfly overrides the datatables's main definition in its
   bower.json (like the example above) to remove the reference to
   jquery.dataTables.js

As it limits changes to just the angular-patternfly repo.  If you have time
please modify angular-patternfly's bower.json, build, test, and then put up
a PR.

Thanks!
- Dave

On Thu, May 18

[2017-05-18 14:20] alexkieling commented on #448
OK, I'll make the change and send a PR.

[2017-05-18 16:43] alexkieling commented on #448
Dave, does `angular-patternfly` use anything from the `datatables` library? We could override the dependency and specify an empty array of files.

[2017-05-18 17:02] dtaylor113 commented on #448
Hi, yes angular-patternfly v4.x (branch-4.0-dev) uses datatables library
for the pfTableView component.   You seemed to have updated the bower.json
file from master.  You need to update the bower.json in branch-4.0.dev.
Thanks,
- Dave

On Thu, May 18, 2017 at 12:43 PM, Alexandre Kieling <
notifications@github.com> wrote:

--
Dave Taylor
Principle Software Engineer
(978) 392 - 1016

[2017-05-23 16:01] alexkieling opened #467 "pfListView: always shows pointer cursor"
I believe pfListView should show a pointer cursor only when the list items are selectable by clicking on them or when they can be dragged and dropped. In all other scenarios, the default cursor seems more appropriate and more in line with PatternFly's design.

[2017-05-24 16:50] jeff-phillips-18 opened #468 "Wizard buttons contain trailing space"
Setting the next/previous buttons' titles gives an extra trailing space on the button content.

[2017-05-24 16:55] jeff-phillips-18 opened #469 "When no back button in the wizard, the Cancel and Next buttons have too much space"

[2017-05-30 13:23] dtaylor113 opened #472 "pfFilter Enhancements"
Recently in OpenShift Origin Catalog/Console we had to customize the pfFilter directive:

![image](https://cloud.githubusercontent.com/assets/12733153/26584926/95565d5c-4518-11e7-96e9-a412ee2d287c.png)

Changes/Enhancements:
1. Change the result label from "Active filters:" to "Active Filters:" (capital "F")
2. Change the result label from "n Results" to "n of m items"
3. Disable the filter input

[2017-05-31 09:51] skateman opened #473 "Support for SASS-based workflow"
Hi guys,

I'm trying to catch up with this new version and I'm a bit scared that you have included the stylesheets into this repo. This causes a lot of problems with the LESS->SASS conversion that was working for versions 1-2-3. Is there any reason behind not having them separately as before?

[2017-05-31 19:00] jeff-phillips-18 opened #474 "Wizard hideBackButton acts true if any value is passed"
Offending code:
  ctrl.hideBaackButton = ctrl.hideBackButton === 'true';

[2017-06-01 14:50] martinpovolny commented on #473
ping @jeff-phillips-18?

Can we hope to get the packages separately as before?

It makes no sense for us to invest in LESS esp. if/when patternly 5 is going to use SASS.

[2017-06-01 14:54] jeff-phillips-18 commented on #473
What kinds of problems does this cause? The only real difference is that we distribute the less files now which I would think you could ignore.

[2017-06-01 14:55] skateman commented on #473
@jeff-phillips-18 aren't those LESS files bundled into the components? What stylesheets should we use then? Will be there a non-angular (patternfly) version with the CSS files as before?

[2017-06-01 15:39] jeff-phillips-18 commented on #473
The angular patternfly specific css can be found in dist/styles/angular-patternfly.css

This should be similar to what was in 3.x.  Changing to less internally allows the css to be generated with values from patternfly variables. If those values are an issue now, then the were likely an issue before and applications were overriding them.

[2017-06-02 14:53] jeff-phillips-18 opened #477 "angular-patternfly declares a dependency to `lodash-amd` and requires it using `require('lodash')`"
This results in the error:

ERROR in ./~/angular-patternfly/index.js
Module not found: Error: Cannot resolve module 'lodash' in /home/akieling/dev/projects/angularjs-styleguide/node_modules/angular-patternfly @ ./~/angular-patternfly/index.js 5:0-17

@alexkieling

[2017-06-02 15:00] AllenBW opened #478 "pf-list-view custom-scope attributute no longer passing objects"
So [here's the implementation](https://github.com/manageiq/manageiq-ui-service/blob/773c7c0738eaaa96b6308e8ee0dc595fb14d81a1/client/app/services/service-details/service-details.html#L172)

And [here's the pr where we're making the pf4 leap](https://github.com/ManageIQ/manageiq-ui-service/pull/804)

`custom-scope` previously passed the contents of `vm` for ang-pf 3.x but now it doesn't... [looking

[2017-06-02 15:10] AllenBW commented on #478
even passing a simple test object into `custom-scope` does not yield results on `customScope` in the transcluded content

[2017-06-02 17:41] #478 closed

[2017-06-05 19:34] AllenBW opened #480 "When no items can be selected we still display the "x of x results" text in the filter results"
*The issue*: when no items _can_ be selected we still display the "x of x results" text in the filter results unless a `totalCount = 0` is supplied https://github.com/patternfly/angular-patternfly/blob/0a9afa136bf9bdb60bc3c9c96c9ec23c515cfc7b/src/filters/filter-results.html#L15

*Fix One*: allow `selectedCount` to be undefined, in which case hide the results (making the assumption that there are n

[2017-06-07 17:05] mindscratch opened #483 "Heatmap Block Content"
I'd like the ability to display data inside blocks in the heatmap. In particular, this would be useful when a user wants to take a screenshot or export the heatmap.

[2017-06-08 16:16] #477 closed

[2017-06-08 16:18] #480 closed

[2017-06-14 14:51] AllenBW opened #488 "Table component binding misspelling"
https://github.com/patternfly/angular-patternfly/blob/master/src/table/tableview/table-view.component.js#L5

Should be `column`

[2017-06-14 19:29] #468 closed

[2017-06-14 19:29] #469 closed

[2017-06-14 19:29] #474 closed

[2017-06-14 19:30] #488 closed

[2017-06-14 20:08] AllenBW opened #490 "Expandable table rows"
In pf table, i would like to be able to expand a row and display transcluded content (if possible)

[2017-06-14 20:10] AllenBW opened #491 "pfTableView: Support icons/images/links/truncated text/ or styling in table fields"
Would like to confirm or enable pf-table fields to support icons/images/links/truncated text/ or styling (per field)

[2017-06-14 20:34] benjaminapetersen opened #492 "Rename step.nextTitle for pf-wizard"
Original comment [this issue](https://github.com/openshift/origin-web-console/issues/1707#issuecomment-308540584) in the openshift web console.

It would be helpful to rename this:

[code]
to something like:

[code]
Perhaps something less verbose but more clear.  "Next Title" seems to imply it will be the title for the next step panel, when in fact, it is the text on the button in this panel, but

[2017-06-14 20:37] benjaminapetersen opened #493 "Improve pf-wizard validation"
[Original issue](https://github.com/openshift/origin-web-console/issues/1707#issue-235973081) in origin-web-console.

The example in the original issue is this:

[code]
There is a lot of bookkeeping involved for validation & it feels a bit out of sync with typical angular validation.  The ideal option is to get it in the view, but a secondary option might be to get a validation function added to t

[2017-06-15 12:39] dtaylor113 opened #494 "pfTableView: Need to be able to not show checkboxes"
Need to add a 'showCheckboxes' Boolean attribute to the config object (default is 'true') which will control showing/hiding the initial column of checkboxes used for row selection.

[2017-06-15 12:56] mechevarria commented on #494
In other words, in the following:

https://github.com/patternfly/angular-patternfly/blob/master/src/table/tableview/table-view.component.js

[code]

It would good to have the ability to set `select: false`
Trying to override that setting in the current implementation doesn't currently work

[2017-06-15 13:34] dtaylor113 opened #495 "pfTableView: update pagination controls to latest patternfly design"
http://www.patternfly.org/pattern-library/content-views/table-view/#/code

https://www.patternfly.org/pattern-library/navigation/pagination/

[2017-06-15 17:40] serenamarie125 opened #496 "Border used in Expanded List View should be grey"
Current implementation of expanded list view ( http://www.patternfly.org/angular-patternfly/#/api/patternfly.views.component:pfListView )

<img width="1000" alt="screen shot 2017-06-15 at 1 39 31 pm" src="https://user-images.githubusercontent.com/12504403/27194320-1cfee9e0-51d0-11e7-8ae7-4846e9cf6085.png">

should be grey rather than blue.  @andresgalante could you add a link to the proper styling

[2017-06-15 20:46] #448 closed

[2017-06-20 00:19] serenamarie125 commented on #490
Tracked in JIRA: https://patternfly.atlassian.net/browse/OSUX-26

[2017-06-20 00:19] serenamarie125 commented on #495
https://patternfly.atlassian.net/browse/OSUX-25

[2017-06-20 00:29] serenamarie125 commented on #494
Being tracked in JIRA: https://patternfly.atlassian.net/browse/OSUX-27

[2017-06-20 00:32] serenamarie125 commented on #491
Tracked in JIRA: https://patternfly.atlassian.net/browse/OSUX-28

[2017-06-20 12:09] jeff-phillips-18 commented on #496
@serenamarie125 The implementation in Patternfly is blue. This issue should be filed there as those changes would be picked up automatically in the angular-patternfly implementation.

[2017-06-20 12:10] jeff-phillips-18 commented on #496
See https://github.com/patternfly/patternfly/issues/653

[2017-06-22 13:14] alexkieling opened #500 "pfTableView: throws error when 'order' is not specified"
The following error is thrown when `order` is not specified in the dtOptions object:
[code]

[2017-06-22 13:18] alexkieling opened #501 "pfTableView: error "Cannot read property 'parentNode' of null""
[code]
Source code:
[code]
[code]

[2017-06-22 20:16] #501 closed

[2017-06-22 20:16] #500 closed

[2017-06-23 13:56] alexkieling opened #502 "pfTableView: does not work with items retrieved via AJAX call"
When I initialize the items array with an empty array and invoke a service to retrieve the items, the table component does not show the retrieved items when they are available. It shows a message saying "No Items Available".
Plunker code: http://plnkr.co/edit/UxZ0TizJJr7Dx5hi4TMO?p=preview

[2017-06-23 15:01] alexkieling commented on #502
I'm working on it

[2017-06-23 17:39] #467 closed

[2017-06-26 16:56] alexkieling opened #505 "pfFocused: optional value"
I'd like to suggest making the directive's value optional. When not provided, the element is always focused. I'd work as a shorthand of `pf-focused="true"`.

[2017-06-27 13:28] #502 closed

[2017-06-27 18:17] #505 closed

[2017-06-27 20:28] LHinson commented on #495
Hi all, passing along the work done on pagination thus far in the PatternFly space per @serenamarie125 request.

Pagination testing results: https://blog.patternfly.org/pagination-in-patternfly-second-round-cafeteria-testing/

Current prototypes are here (please note you need to connect via viscosity to access :
* http://file.rdu.redhat.com/~mstevens/paging/opt1.html
* http://file.rdu.redhat.com/~

[2017-06-28 14:01] #494 closed

[2017-06-28 23:53] alexkieling commented on #491
This is an important feature.

[2017-06-29 13:36] dtaylor113 commented on #491
Hi @alexkieling,  pfTableView is a simple component which has tight control on how the table is rendered.  We need to figure out how to make it end-user configurable, ie. expose the underlying HTML so people can do things like truncation, icons, links,...whatever they need.

I think in order  to do this we'll need to re architect pfTableView, or create a new component/example entirely.  pfTableVie

[2017-06-29 14:00] alexkieling commented on #491
Do you think we can add a new optional property to the 'columns'
object where we specify an HTML template?

For example:
[code]

On Thu, Jun 29, 2017 at 10:36 AM, David Taylor <notifications@github.com>
wrote:

--
Alexandre KielingSr. Software Engineer, MiddlewareRed Hat

[2017-06-29 14:09] dtaylor113 commented on #491
I can look into doing that.

[2017-06-29 15:55] dtaylor113 commented on #491
Hi, I've had some success using HTML templates and ng-include:

![image](https://user-images.githubusercontent.com/12733153/27697163-7dfe8a60-5cc1-11e7-8e30-05c6ecbb9837.png)

[code]

[code]
table-view.html
[code]
table-view.component.js
[code]
@serenamarie125

[2017-06-29 16:55] dtaylor113 commented on #491
Now with links:

![image](https://user-images.githubusercontent.com/12733153/27699977-24254bc4-5cca-11e7-94b7-77c884f206e6.png)

[2017-06-29 17:13] dtaylor113 commented on #491
Truncated text using just css:
![image](https://user-images.githubusercontent.com/12733153/27700801-c274f6b0-5ccc-11e7-8dfb-dca8a148ca25.png)

[2017-06-29 19:37] alexkieling commented on #491
Looks good!

Just some observations:

- When truncating the cell text, do you plan to provide a way to see the
full text, e.g., using a title attribute?

- In the hasHTMLTemplate(key) function, you need to find the column item
where itemField matches exactly the key. $filter('filter') searches for
columns where itemField contains the key, right?

- <td ng-repeat="(key, value) in item" ng-if="$ctrl

[2017-06-29 20:00] dtaylor113 commented on #491
Yes, I have that working

Yes, correct

I like it, I'll look into using that
Thanks!

[2017-06-29 20:39] dtaylor113 commented on #491
The only issue is that if we remove:

```<td ng-repeat="(key, value) in item" ng-if="$ctrl.isColItemFld(key)">```

The templates use the 'key and value' variables:

[code]

[2017-06-29 22:42] alexkieling commented on #491
Yep, using {{value}} in the templates is definitely cleaner than {{
item[col.itemField}}. It's a shame because that code seems a bit simpler
(it doesn't require the ng-if="$ctrl.isColItemFld(key)" check).
An alternative would be defining a simple placeholder not related to the
code for the templates and replacing it later. Unfortunately, that
complicates things in a different way.

On Thu, Jun 29,

[2017-06-30 14:36] dtaylor113 opened #509 "pfFilter: Should not allow empty filters"
If I hit the [Enter] key with no filter criteria specified in the filter input textbox, the pfFilter component adds an 'empty' applied filter.  This should be prevented.

[2017-07-02 10:10] rhwood opened #510 "Unable to add action buttons to empty state in view."
The list/card/table views have a parameter to set the configuration of an empty state view, but do not have a parameter to set the action buttons for the configured empty state view.

[2017-07-05 14:28] dtaylor113 commented on #495
Hi @LHinson, pls send info. on how I can get a viscosity account, thanks!  These are labeled prototypes, so does that mean I shouldn't use what is in the PF design docs?

[2017-07-07 15:07] dtaylor113 opened #513 "pfTableView: paging is enabled by default, even though paging controls are not shown by default"
Need to add paging=false to the default dt options in pfTableView:

[code]

[2017-07-07 18:40] dtaylor113 commented on #495
@LHinson, could you pls send me instructions on how to get a viscosity account, or just simply send me a few screenshots :-)  I've put up an angular-pf PR which uses the current pagination designs.  https://github.com/patternfly/angular-patternfly/pull/514
Seems logical to get an initial version up, then we can easily change it after these prototypes have been hammered out.

[2017-07-07 20:50] aptmac opened #516 "npm install angular-patternfly doesn't bring in all dependencies for version >= 4.0.0"
Hi!

**Description:**
- When trying to update from version 3.* to version 4.1.0 via my application's package.json, not all components of angular-patternfly are imported
- angular-patternfly gets set up in app/node_modules/angular-patternfly, but the only package found in angular-patternfly/node_modules is moment

I have been able to get angular-pf 4.* working, the steps required are just a bit lon

[2017-07-10 16:10] #513 closed

[2017-07-11 12:15] himdel opened #517 "pf-toolbar ignoring changes in filterConfig.fields for dropdown button (not dropdown menu)"
Example: https://jsfiddle.net/s99cooja/
(ignore the console errors and missing images, would be nice if there was a CDN for angular-patternfly)

When `filterConfig.fields` changes, the dropdown *menu* gets correctly updated with the new options.

But the dropdown *button* and the select with values (when filterType = select) doesn't get updated and still shows the (now no longer existing) option t

[2017-07-11 21:36] cdcabrera commented on #510
Merged

[2017-07-11 21:36] #510 closed

[2017-07-12 18:09] AllenBW opened #518 "3.x Notification panel-body renders notification footer actions invisible"
Version: 3.25.0

Upon initially loading the page ya see this, no clear or clear all actions:
<img width="1920" alt="screen shot 2017-07-12 at 2 03 19 pm" src="https://user-images.githubusercontent.com/6640236/28132564-37d33bea-670b-11e7-95b3-21bf2b77e4c7.png">

After modifying the size of the viewport these buttons are revealed:
<img width="1323" alt="screen shot 2017-07-12 at 2 03 28 pm" src="htt

[2017-07-13 12:34] alexcreasy opened #519 "In pf-wizard there's no way to conditionally add a step"
There doesn't seem to be a way to add a step conditionally based on a boolean property. I've tried using an ng-if on the pf-wizard-step tag but that doesn't work, the step still appears.

Using ng-if on pf-wizard-substep tags does work as expected. I'm currently using this as a work around, but it would be really helpful if this could be made to work for top level steps. It doesn't have to use ng-

[2017-07-14 16:12] aptmac commented on #516
From a bit of digging, it looks like this may have been introduced when the build package was updated [0]?

For reference, this is what my node_modules/angular-patternfly looked like in v3.23.3
![version 3.23.0](https://cdn.pbrd.co/images/GAV0a8S.png)

And this is what it looks like in 4.1.1
![version 4.1.1](https://cdn.pbrd.co/images/GAV0VMa.png)

[0] https://github.com/patternfly/angular-pattern

[2017-07-14 21:16] csah2k opened #520 "pfVerticalNavigation - Badges on second menu level not showing"
I take a look on the .js and replaced the following in the template:

ng-if="showBadges && secondaryItem.badges"

to

ng-if="$ctrl.showBadges && secondaryItem.badges"

[2017-07-17 12:03] AllenBW opened #521 "pfFilter: RFE - Multi-dropdown filter, filterAlias, input typeahead"
As per: https://github.com/ManageIQ/manageiq-ui-service/pull/840#issuecomment-315496383 being able to display a second dropdown that further breaks up filter content grouping would be aweeeesommeee

ALSO if [filter fields](https://github.com/patternfly/angular-patternfly/blob/master/src/filters/filter-component.js#L29-L35) supported value aliases or in other words an additional filter value field

[2017-07-17 12:15] jeff-phillips-18 commented on #519
Setting wzDisabled parameter to true for a pf-wizard-step will 'hide' the step.

The documentation for this parameter is incorrect.

[2017-07-17 13:25] AllenBW commented on #521
If the alias thing sounds like something that ya might be keen on adding I can throw a wip pr out there for review.

[2017-07-18 00:54] serenamarie125 commented on #521
@jeff-phillips-18 have you done anything similar to this in the past?  Essentially SUI needs to filter by "tag", which means two ui-select components.

[2017-07-18 10:50] jeff-phillips-18 commented on #521
@serenamarie125 I don't recall doing this before, but I can see the need and would welcome the PR

[2017-07-18 17:35] dtaylor113 commented on #491
Implemented via: https://github.com/patternfly/angular-patternfly/pull/512

[2017-07-18 17:35] #491 closed

[2017-07-21 23:03] akieling opened #522 "pfTableView: values added to wrong columns"
When populating the table header cells, the code is iterating the columns array. When populating the table body cells, the code is iterating the item properties, not the columns array. When the items don't have their properties in the same order as the defined columns, values are added to the wrong cells.

How to reproduce:
- Define columns a, b, and c
- Define items with the properties c, b, and

[2017-07-21 23:25] chriskacerguis commented on #521
FYI - @AllenBW is going to do this, and we are tracking this here: https://www.pivotaltracker.com/story/show/148997399

[2017-07-21 23:36] akieling opened #523 "pfToolbar: add configuration to define a filter as unique"
The PatternFly website contains the following note in the Filter design page:

I'd like to suggest implementing this behavior in the pfToolbar component. We could have an optional property in the filterConfig.fields objects.

[2017-07-24 13:24] #522 closed

[2017-07-24 19:09] jeff-phillips-18 commented on #35
Unlikely this will be addressed in the current expected life span of Angular 1.

[2017-07-24 19:15] #105 closed

[2017-07-24 19:17] #109 closed

[2017-07-24 19:17] #141 closed

[2017-07-24 19:19] jeff-phillips-18 commented on #175
Now using angular-bootstrap 2.2.x

[2017-07-24 19:19] #175 closed

[2017-07-24 19:22] jeff-phillips-18 commented on #215
Done

[2017-07-24 19:22] #215 closed

[2017-07-24 19:24] cshinn commented on #79
I've created https://github.com/patternfly/patternfly-design/issues/337 to come up with a solution to this problem.

[2017-07-24 19:24] #79 closed

[2017-07-24 19:26] jeff-phillips-18 commented on #230
Info is now in https://github.com/patternfly/angular-patternfly/blob/master/README.md

[2017-07-24 19:26] #230 closed

[2017-07-24 19:33] #270 closed

[2017-07-24 19:34] #306 closed

[2017-07-24 19:40] jeff-phillips-18 commented on #332
This has been completed in A-PF 4

[2017-07-24 19:40] #332 closed

[2017-07-25 12:09] beanh66 commented on #496
@jeff-phillips-18 Has this issue been resolved in PF core? I thought @andresgalante may have done some work around this issue. Wondering if we can close this or change the Priority. Thanks!

[2017-07-25 12:11] jeff-phillips-18 commented on #496
@beanh66 Yes but it has not yet released so it has not been verified here.

[2017-07-25 12:27] beanh66 commented on #518
Assigning to @jeff-phillips-18 as this may be taken care of already with the Notification Drawer updates that are in progress.

[2017-07-25 12:50] #473 closed

[2017-07-25 13:08] jeff-phillips-18 commented on #516
I tried this with a new directory containing package.json:
{
  "name": "jeff",
  "version": "1.0.0",
  "dependencies": {
    "angular-patternfly": "^4.1.0"
  }
}

This resulted in:
![image](https://user-images.githubusercontent.com/11633780/28573442-ab0f071c-7118-11e7-930c-cb1e77f4ed9a.png)

Which seems correct. Please re-open if you still see the issue.

[2017-07-25 13:08] #516 closed

[2017-07-25 13:13] jeff-phillips-18 commented on #492
I'm not certain changing this at this time is warranted as it will break any previous uses. You can still use ctrl.nextButtonText and in the html use next-title="$ctrl.nextButtonText".

If you feel differently, please re-open.

[2017-07-25 13:13] #492 closed

[2017-07-25 16:07] benjaminapetersen commented on #436
@jeff-phillips-18 wonder if this one should be labelled `bug` w/a severity.  I don't think there is a workaround with scrolling suppressed.  On mobile the issue would definitely be more severe as you would only see a few headings & most would be below the fold/unreachable.

It would not affect what I am currently doing in the web console, but it does seem to be a reasonable use of the drawer.

[2017-07-25 16:41] jeff-phillips-18 commented on #436
@benjaminapetersen I can agree with that. Thanks for the feedback.

[2017-07-25 18:04] benjaminapetersen commented on #65
+1 to this, was just playing with it as well & wondering how broken:

<img width="1098" alt="screen shot 2017-07-25 at 2 02 45 pm" src="https://user-images.githubusercontent.com/280512/28586533-2db69d46-7142-11e7-91ae-661f7c5d0855.png">

[2017-07-26 14:34] benjaminapetersen opened #528 "Would notification drawer benefit from a general empty state?"
Related to #526

[original comment](https://github.com/patternfly/angular-patternfly/pull/526#issuecomment-318065789)

The individual empty tab messages are a big improvement. Its possible that a user could still be a bit frustrated opening each tab only to find that there are no notifications.  It may be beneficial to provide a generalized way to indicate to the user that there are no new notific

[2017-07-26 15:51] cdcabrera opened #529 "Inline Notification Component old Binding Syntax"
found when we addressed pr #526

Looks like some old binding syntax is still in the ```inline-notification-component```. Minor clean up

- [inline-notification.component.js >> line 107](https://github.com/patternfly/angular-patternfly/blob/master/src/notification/inline-notification.component.js#L107)

[code]

[2017-07-26 17:20] jeff-phillips-18 opened #530 "Wizard does not invoke the nextCallback or backCallback when navigating"
Adding the next-callback and/or back-callback to the wizard component call does not call the function passed.

[2017-07-26 17:25] cdcabrera commented on #529
This syntax is a non-issue and should be ```&```, [Angular Docs](https://docs.angularjs.org/guide/component#component-based-application-architecture)

We should probably note the behavior around how we handle the function call within the template...

- [ng-click="$ctrl.pfNotificationRemove()"](https://github.com/patternfly/angular-patternfly/blob/master/src/notification/inline-notification.html#L3

[2017-07-26 17:25] #529 closed

[2017-07-26 18:04] #414 closed

[2017-07-26 18:04] #419 closed

[2017-07-26 18:04] #420 closed

[2017-07-26 18:04] #421 closed

[2017-07-26 18:04] #429 closed

[2017-07-26 18:04] #430 closed

[2017-07-26 18:04] #431 closed

[2017-07-26 18:06] jeff-phillips-18 commented on #432
Fixed vai #526

[2017-07-26 18:06] #432 closed

[2017-07-26 18:09] #530 closed

[2017-07-27 15:42] aptmac commented on #516
Hi @jeff-phillips-18,

Thanks for the comment and looking into the problem I was seeing. I see now that my confusion is that the dependencies in version 3.* are placed under

` project/node_modules/angular-patternfly/node_modules/[angular, angular-animate ..., patternfly], `

but in version 4.* they're found in

`project/node_modules/[angular, angular-animate ..., patternfly]`

The errors I was se

[2017-07-27 16:20] jeff-phillips-18 commented on #516
thanks @aptmac we will update the README.

[2017-07-28 20:52] AllenBW commented on #521
Oh my priority 1 @jeff-phillips-18  what does that mean!!?? 😟

[2017-07-28 21:53] cdcabrera opened #534 ""patternfly" & "c3ChartDefaults" undefined when running Angular Patternfly standalone"
Unable to run Angular Patternfly JS as a standalone script reference without including core Patternfly JS because of of multiple references and calls to the global ```patternfly``` object and subsequent method call to ```c3ChartDefaults``` ...

[code]

Purposing a quick fix within ```c3-chart-defaults.js``` similar to...
[code]

[2017-07-31 13:05] dtaylor113 commented on #534
:+1:

[2017-07-31 19:36] benjaminapetersen opened #537 "Notification drawer should close when the user clicks outside of the drawer"
This is a fairly common convenience feature for a drawer/panel/modal.  Here are a few examples:

- [a side nav panel](https://material.angularjs.org/latest/demo/sidenav)
- [another side panel](http://foundation.zurb.com/sites/docs/off-canvas.html)
- [another side panel](http://demos.jquerymobile.com/1.3.0-beta.1/docs/panels/)

I believe a `click` event on the `document` is needed, then a test to `

[2017-07-31 20:58] dtaylor113 commented on #534
Sorry, I know I gave this a :+1: earlier, but why is this necessary?  Doesn't a-pf's npm/bower pull in core patternfly?  Doesn't our karma.conf pull in the required pf scripts?

[2017-08-01 14:12] benjaminapetersen opened #539 "Notification drawer heading template is wrapped in h4"
The current `notification-drawer.html` template wraps the user defined `heading.html` (from `headingInclude`) in an `h4`, which is restrictive for styling beyond a simple heading.

[Here](https://openshift.github.io/openshift-origin-design/web-console/4-patterns/notifications) is where we are going with the openshift web-console:

<img width="269" alt="screen shot 2017-08-01 at 10 04 26 am" src="h

[2017-08-01 14:18] jeff-phillips-18 commented on #539
we will need to look into backwards compatibility issues that could arise from making this change but I can understand the reasoning.

[2017-08-01 16:13] benjaminapetersen commented on #437
Quick update, after the last batch of updates to the drawer:

![screen shot 2017-08-01 at 12 11 13 pm](https://user-images.githubusercontent.com/280512/28835195-94efe876-76b2-11e7-8d60-af70184e6ec0.png)

This one does remain. Not sure if there is anything that can be done in the drawer, actually.  Forcing word-wrap rules would create a bunch of quirks.  Might need to be resolved on a case-by-case

[2017-08-01 17:36] beanh66 commented on #537
@benjaminapetersen In this case, staying open is actually by design to allow users to go through notifications and potentially investigate them in the main content area at the same time. We added the X close button in the top right corner as another means to closing the panel (aside from clicking the bell) in order to make it more clear. We should be consistent with PatternFly and keep this functi

[2017-08-01 18:40] serenamarie125 commented on #537
@beanh66 ManageIQ hasn't had any complaints either.  This is something that we can test, or ask for user feedback if it's an issue.  @benjaminapetersen I agree that it is a convenience feature, but unsure if it makes sense in this specific use case.  Interested in your thoughts.

[2017-08-01 20:14] aptmac opened #541 "Adding data points to a chart causes the page to automatically scroll upwards"
**Issue:**

When a chart refreshes after updating/adding a new point to a chart, the page automatically scrolls upwards.

**To reproduce:**
I found several instances of this behaviour when browsing the [angular-patternfly documentation](http://www.patternfly.org/angular-patternfly/#/api), including:

1. [donut chart](http://www.patternfly.org/angular-patternfly/#/api/patternfly.charts.component:pf

[2017-08-01 20:23] aptmac opened #542 "Customizing chart transitions/animations in angular-patternfly version > 4.*"
Hi,

After updating to angular-pf 4 from 3 I've noticed that my charts (donut and line specifically) have instant transitions and don't retain the smooth animations that they had in version 3. I used to be able to add a 'transition' attribute to the chart config, but this no longer works. An example is in the API for [donut-pct-chart](http://www.patternfly.org/angular-patternfly/#/api/patternfly.c

[2017-08-02 14:09] cdcabrera commented on #534
Redirected towards PR #538 ...

[2017-08-02 14:57] dtaylor113 opened #543 "pfFilterPanel: Responsiveness needs to be addressed/overhauled"
Attempted to import Bootstrap's variables.less file and use `@media(max-width: @screen-md-min)` to address responsiveness layout in the pfFilterPanel.

A concern was:  _"if someone overrides bootstrap variables then includes a-pf less files, they will lose their overrides"_

We need to figure out, in general, how to address responsiveness in angular-patternfly.
In addition, the pfFilterPanel needs

[2017-08-02 15:53] benjaminapetersen commented on #537
User testing/feedback definitely makes sense! Click outside seems to be a common convention, though I suppose alternatives like `esc` key could also be considered (but I suspect less discoverable/more intuitive to power users only).  I think requiring a manual movement of the mouse to the "x" (or bell) as the only way to close the panel gets a little bit annoying when you are opening/closing the p

[2017-08-02 21:36] jeff-phillips-18 opened #544 "Cannot use angular-patternfly.min.js or minify angular-patternfly.js"
Doing either causes the error:

	Error: [$injector:unpr] Unknown provider: bProvider <- b

@spadgett @dtaylor113

[2017-08-03 04:23] benjaminapetersen opened #545 "Notification drawer accordion does not work consistently"
Was talking with @jeff-phillips-18 about some issues, he noted height calculation.

I've been experiencing issues where items are truncated.  For example, I have 15 items in this list, but only 7 are visible & it will not scroll consistently:

![screen shot 2017-08-03 at 12 21 19 am](https://user-images.githubusercontent.com/280512/28905942-e6b22072-77e1-11e7-9967-5397deb56905.png)

[2017-08-03 04:40] benjaminapetersen commented on #545
Another example, this time the accordion collapsed entirely:

![screen shot 2017-08-03 at 12 39 42 am](https://user-images.githubusercontent.com/280512/28906262-485c0444-77e4-11e7-832a-31d68851e24f.png)

[2017-08-03 07:05] serggb opened #546 "Error on heatmap"
HI,

I'm trying use a heatmap. I us like this:

`<pf-heatmap id="id" data="data" max-block-size="20"
						show-legend="false" heatmap-color-pattern="heatmapColorPattern"
						thresholds="thresholds" range-on-hover="false"></pf-heatmap>`

On my script.js:

`$http.get('/monitorRest').success(function(data)` {
	$scope.data= data.monitor;
	$scope.total= data.totalCounter;
	$scope.service= data.servi

[2017-08-03 12:47] #544 closed

[2017-08-03 12:54] dtaylor113 commented on #546
It appears to be crashing on '$scope.data.length' where $scope.data is undefined, most likely because $scope.data is being set asynchronously after a deferred promise.  I would suggest setting $scope.data = [] initially before the promise.
Thanks,
Dave

[2017-08-03 13:01] serggb commented on #546
Thanks, the length error is solved now, but the 10 $digest() iterations
reached error remains.

Any idea?

2017-08-03 14:54 GMT+02:00 David Taylor <notifications@github.com>:

[2017-08-03 14:55] dtaylor113 commented on #546
Hi, I would need to see the code.  Can you create a JSFiddle?
Thanks,
- Dave

[2017-08-03 19:03] benjaminapetersen opened #549 "Notifcation Drawer requires navbar-pf-vertical, but adds an unnecessary top border"
In order to get the notification drawer to work properly, you must do:

[code]
But this will add a 2px top border that causes scrollbars to appear:

![screen shot 2017-08-03 at 3 01 52 pm](https://user-images.githubusercontent.com/280512/28938656-b6e440b6-785c-11e7-8998-e371a9ae6f2f.png)

If `navbar-pf-vertical` is required for the notification drawer to calculate its own height & position properl

[2017-08-03 19:20] jeff-phillips-18 commented on #549
It doesn't require navbar-pf-vertical. It just needs styling such that it takes up the full vertical space with some margins. See http://www.patternfly.org/angular-patternfly/#/api/patternfly.notification.component:pfNotificationDrawer

[2017-08-03 21:26] benjaminapetersen commented on #549
We found that snippet & included it, though I wonder if there is a better way to encapsulate those rules.

Aside, it may be beneficial of documentation like this had an explicit callout style [similar to what Bootstrap does](https://getbootstrap.com/css/#inputs), (since it doesn't work w/o the snippet) :

![screen shot 2017-08-03 at 5 21 17 pm](https://user-images.githubusercontent.com/280512/2894

[2017-08-04 08:47] serggb commented on #546
https://jsfiddle.net/umztfcd2/5/

Thanks

2017-08-03 16:55 GMT+02:00 David Taylor <notifications@github.com>:

[2017-08-04 13:45] jeff-phillips-18 commented on #518
@AllenBW  This will be fixed in 4.x via #548

Please let me know if this needs to be backported.

[2017-08-04 14:21] benjaminapetersen opened #550 "Docs incorrect about Drawer drawer-expanded"
`draw-expanded` vs `drawer-expanded`:

<img width="353" alt="screen shot 2017-08-04 at 10 18 09 am" src="https://user-images.githubusercontent.com/280512/28972665-85d25cd6-78fe-11e7-8fac-b7696d8ec161.png">
<img width="426" alt="screen shot 2017-08-04 at 10 18 31 am" src="https://user-images.githubusercontent.com/280512/28972666-85dd62ca-78fe-11e7-83ca-c248aac71574.png">

Think it is a minor consis

[2017-08-04 14:47] benjaminapetersen opened #552 "Docks out of date about drawer expanded state"
Either out of date, or something broke in the build process:

<img width="602" alt="screen shot 2017-08-04 at 10 43 31 am" src="https://user-images.githubusercontent.com/280512/28973657-e6378472-7901-11e7-9943-b97492a64c71.png">

We previously noted the `span>` on line 15 being incomplete, but it appears to also be missing the entire "drawerExpanded" section (originally was another +/-20 lines of

[2017-08-04 14:49] #545 closed

[2017-08-04 14:53] jeff-phillips-18 commented on #552
The example current does not show anything different between expanded and collapsed state. Previously it adjusted due to stylings that did not work well in both states. The changes in patternfly styling allowed this to work without having to change the html based on the expanded state.

As for the example you are using, looks like both are checking !drawExpanded, the later should likely be checkin

[2017-08-04 15:03] benjaminapetersen commented on #552
Yeah, i think using the same HTML for both makes better sense.  It may just be that the example `notification-body.html` & the actual rendered example on the page are out of date.  For example, when i look at the source of the rendered after a toggle open, I see classes like 'expanded-notification' that do not appear in the example, which intro the use of `flex` (which makes sense).

[2017-08-04 17:55] AllenBW commented on #518
@jeff-phillips-18 awesomeeeeee!!!! <3 <3 yes please backported

[2017-08-04 18:54] jeff-phillips-18 commented on #552
@benjaminapetersen Did you find this is still an issue?

[2017-08-07 04:09] benjaminapetersen commented on #552
Yeah lets nix this, I may have had a weird cache issue or something.

[2017-08-07 04:09] #552 closed

[2017-08-09 03:32] Mirror198829 opened #558 "patternfly is not defined"
After flow the useage,<script> correct angular-patternfly, chrome console.warn("patternfly is not defined")。everyone meet this problem???

[2017-08-09 03:57] cdcabrera commented on #558
Angular PatternFly requires an additional JS script reference from [PatternFly](https://github.com/patternfly/patternfly) to work

If you're running locally you can do something like...

[code]

[The ReadMe highlights some of the additional JS resources.](https://github.com/patternfly/angular-patternfly#using-angular-patternfly-in-your-application) like...

[code]

Related to PR #538

[2017-08-09 07:09] Mirror198829 commented on #558
@cdcabrera   I have try both your replies .
1 solution shows following:  the "patternfly is not defined" has been solved,but when I "var app = angular.module('myApp',['ui.router','patternfly'])" ,then chorome console.error like "jquery.min.js:2 Uncaught Error: [$injector:modulerr] http://errors.angularjs.org/1.5.11/$injector/modulerr?………………"
2 solution when I  pull in all scripts，then the same pro

[2017-08-09 14:40] cdcabrera commented on #558
It sounds like you're looking for a more specific example, not code snippets, like above. Receiving console errors requesting resources means we probably need to locate them.

You can look in places like [NPM](https://www.npmjs.com/).Then look at updating ```package.json``` so you can download the resources with ```npm install```. Once that's complete, then a more complete example ***might*** look

[2017-08-09 14:52] cdcabrera commented on #558
@Mirror198829 I'm going to close this since the provided response relates to implementation and not a bug or feature request. This issue does help highlight that we may need to update our ReadMe.

You can reopen the issue if you continue to have problems

[2017-08-09 14:52] #558 closed

[2017-08-10 19:51] jeff-phillips-18 commented on #518
I cannot reproduce this in 3.x latest.

[2017-08-10 19:53] jeff-phillips-18 commented on #518
Downgrading the priority since this is not (at least easily) reproduced and is against 3.x

[2017-08-14 18:39] akieling opened #571 "pfTableView: ng-include inside ng-repeat hurts performance"
The following `ng-include` is causing a big performance hit in the table view:
https://github.com/patternfly/angular-patternfly/blob/master/src/table/tableview/table-view.html#L22

See blog posts about the issue:
https://www.bennadel.com/blog/2738-using-ngrepeat-with-nginclude-hurts-performance-in-angularjs.htm
http://www.codelord.net/2016/11/17/avoiding-ng-include-for-elegenace-and-performance/
h

[2017-08-15 01:46] akieling commented on #523
I can work on this enhancement if no one has started working on it already.

[2017-08-15 15:47] benjaminapetersen opened #573 "Consider marking all events read when closing the drawer"
Per discussion with @beanh66, @spadgett & [this web console PR](https://github.com/openshift/origin-web-console/pull/1326), I'd like to propose at least an attribute on the drawer to mark all notifications read when closing the drawer.

In an especially chatty environment with a lot of events, its helpful to be able to clearly see new events since last view, w/o leaving it to the user to manually

[2017-08-15 15:47] benjaminapetersen commented on #573
@jeff-phillips-18

[2017-08-15 16:08] jeff-phillips-18 commented on #573
Any particular reason this couldn't be done by the application in the onClose callback?

I suppose it could call the onMarkAllRead function for each of the groups but unsure if it is warranted to do here and add yet another flag to the drawer's parameter list.

[2017-08-15 17:52] benjaminapetersen commented on #573
True! That would work fine.  We can skip the parameter.

@beanh66 do we need to worry about making this behavior a standard thing in Patternfly? Perhaps that is all we wanted to spin out of the discussion.

[2017-08-16 10:39] #521 closed

[2017-08-16 13:20] #550 closed

[2017-08-16 13:54] beanh66 commented on #573
@benjaminapetersen I think it makes sense to do some user testing on the current implementation first and if we determine this will improve the user experience, we can make the change and get it contributed into PatternFly. I'll assign it to myself for now to be sure we get customer feedback.

[2017-08-16 14:01] spadgett commented on #573
The OpenShift use case might be unique because potentially there are a lot of events and thus a lot of notifications. It's probably less of a problem if we're more selective about what events to show.

[2017-08-17 13:53] jeff-phillips-18 opened #575 "Do not set id="title" in empty state component"
We  shouldn't use id="title" in the empty state message. That's a really generic ID, and IDs need to be unique on the page.

[2017-08-17 14:06] benjaminapetersen commented on #575
@jeff-phillips-18 also curious, does it need to be an `h1`?  Is it tied to style?  Perhaps could use `class="h1"` but on a [lesser heading](https://getbootstrap.com/docs/3.3/css/#type-headings).

[2017-08-17 14:19] jeff-phillips-18 commented on #575
I don't believe it needs to be an h1. I will look into that as well.

[2017-08-17 18:10] aptmac commented on #542
I'm working on a fix for this.

[2017-08-17 18:10] aptmac commented on #541
I'm working on a fix for this.

[2017-08-17 18:56] benjaminapetersen opened #576 "Date and time in the Drawer need to collapse at smaller screen sizes"
When using the provided `drawer-pf-notification-info` class with date & timestamps, the drawer struggles to display content meaningfully at smaller screen sizes.

Initial comment on [this PR](https://github.com/openshift/origin-web-console/pull/1326#issuecomment-322923197) in origin-web-console.

Web console example:
![openshift web console 2017-08-16 19-02-08](https://user-images.githubuserconten

[2017-08-17 18:56] benjaminapetersen commented on #576
@jeff-phillips-18

[2017-08-17 18:59] benjaminapetersen opened #577 "At smaller screens, the Drawer expand button actually causes it to shrink"
The effect starts at more or less mobile size.  This gif should illustrate.

![2017-08-17 14 57 24](https://user-images.githubusercontent.com/280512/29428814-8b1a0686-835c-11e7-9a7f-52469cc5cde9.gif)

@jeff-phillips-18 @beanh66

Relevant to web-console [PR 1326](https://github.com/openshift/origin-web-console/pull/1326).

[2017-08-17 19:09] beanh66 commented on #577
@benjaminapetersen I would think the expand feature would be hidden on mobile and that the drawer would take up the width of the screen actually. Oddly the other thing I notice is the arrows are facing the wrong way for expand and collapse, not sure if that's on the PF side or why that might be.

[2017-08-17 19:10] beanh66 commented on #541
Thanks @aptmac! Would you mind assigning yourself to this issue as long as you are working on it, just so nobody else picks it up?

[2017-08-17 19:10] spadgett commented on #577
@beanh66 The arrows are facing the right way, but expand is making the drawer smaller instead of bigger :)

[2017-08-17 19:23] benjaminapetersen commented on #577
As @spadgett, the arrow does the inverse at smaller screens.  An animated-gif from [patternfly.org](http://www.patternfly.org/angular-patternfly/#/api) verifies it outside the web console:

![2017-08-17 15 17 15](https://user-images.githubusercontent.com/280512/29429663-76c4d10e-835f-11e7-8c0b-83f131461641.gif)

[2017-08-17 19:24] benjaminapetersen commented on #577
For some reason github decided to make that gif extra large and obnoxious.  🙁

[2017-08-17 19:26] benjaminapetersen commented on #577
This might be a separate docs issue, but I noticed as I played with the resize the notification bell (and menu area) disappears entirely:

![2017-08-17 15 25 15](https://user-images.githubusercontent.com/280512/29429931-6bd3e9dc-8360-11e7-8c02-53576fa22b62.gif)

[2017-08-17 20:35] serenamarie125 opened #579 "Spacing in the Trend Card example has too much space between the values & Sparkline"
Spacing is incorrect here: http://www.patternfly.org/angular-patternfly/#/api/patternfly.card.component:pfCard%20-%20Trends

![screen shot 2017-08-17 at 4 27 49 pm](https://user-images.githubusercontent.com/12504403/29432510-f9da065e-8369-11e7-8b18-41119eff925f.png)

Design can be seen here: http://www.patternfly.org/pattern-library/cards/trend-card/#/design

[2017-08-17 20:42] beanh66 commented on #577
@spadgett @benjaminapetersen haha sorry, I see it now with the arrows. In general I do still think the drawer should take up the entire width of the screen and the expand feature should be hidden for mobile.

[2017-08-17 20:52] benjaminapetersen commented on #577
@beanh66 sounds like a good solution to me!

[2017-08-17 20:52] jeff-phillips-18 commented on #579
@serenamarie125 What is the spacing requirement? I don't see it specified by the design.

[2017-08-18 16:18] serenamarie125 opened #580 "Support for new layout for Trend Card"
Would like an example of an alternate label placement of "Card with Single Trend" shown here
http://www.patternfly.org/angular-patternfly/#/api/patternfly.card.component:pfCard%20-%20Trends

similar to this:
<img width="395" alt="screen shot 2017-08-18 at 12 15 16 pm" src="https://user-images.githubusercontent.com/12504403/29467570-f16bdbfa-840e-11e7-89e3-c8a84a9f6cfe.png">

[2017-08-21 12:05] Hyperkid123 opened #582 "Ratio of label:input width in pf-form-group"
I noticed that the `label` and `input` width in `pf-form-group` is fixed to 2:5. This causes problems if I'm trying to display something useful on the right from the form.

![screenshot from 2017-08-21 13-59-24](https://user-images.githubusercontent.com/22619452/29518288-fbf18766-8678-11e7-9939-0daeeeebcf02.png)

It would be nice to set those values with a parameter, something like this:
[code]
An

[2017-08-21 12:54] skateman commented on #582
@jeff-phillips-18 could you please take a look at this?

[2017-08-21 12:59] #571 closed

[2017-08-21 14:43] #523 closed

[2017-08-21 17:29] dtaylor113 commented on #580
The new layout is really close to the 'compact' layout:
![image](https://user-images.githubusercontent.com/12733153/29531004-8b7a35d6-8674-11e7-8787-6f8fb46c8a7f.png)

We can look at adding a config option to specify 'compact layout label placement' either 'left' or 'right'.  Would that work?

[2017-08-21 17:34] amarie401 commented on #580
I think that would be pretty efficient to do it that way

[2017-08-21 17:57] AllenBW opened #583 "pfFilter support for filterAlias"
Kinda a continuation of work outlined in #521

`patternfly.filters.component:pfFilter` this work encompasses adding (to each applicable filter type) support for a display value that differs from applied filter value

Rolling with the in place example, maybe the user selects `subaru` as the category and `outback` as the value, present example state would apply the filter `subaru-outback` **BUT** ma

[2017-08-21 19:14] dtaylor113 commented on #582
Hi, what do you mean a ratio of 2:5?  Do you mean columns?

[2017-08-21 19:16] skateman commented on #582
@dtaylor113 the `label` has a fixed `col-sm-2` class while the `input` has a `col-sm-5` and we can't change them :disappointed:

[2017-08-21 19:38] dtaylor113 commented on #582
Hi, I thought you could with pf-form-group attributes ```pf-label-class```, and there is a corresponding one for the actual for element: ```pf-input-class```

[code]

[2017-08-21 20:28] dtaylor113 commented on #495
Hi @LHinson, I recently updated the pagination controls for List, Card, and Table views in angular-patternfly.  The match what is currently in pf design.   I'm not sure if that work addresses this issue or not -not sure about the prototypes or survey results?

[2017-08-21 21:58] amarie401 commented on #580
Is this what you were suggesting? @dtaylor113
With the help of @jeff-phillips-18 I was able to create this using the compact layout for the TrendsChart demo. I have not added it to the TrendsCard example as of yet.

@serenamarie125

<img width="925" alt="screen shot 2017-08-21 at 5 43 15 pm" src="https://user-images.githubusercontent.com/20052391/29539775-5dc860fc-8699-11e7-940e-fe211bea6d0d.png">

[2017-08-22 12:13] beanh66 commented on #580
@amarie401 I know Serena is out this week but I think that looks great! FYI I just put up the design for this yesterday to be sure the "right compact" option is documented in PatternFly. I should have tagged you but here is the [design PR](https://github.com/patternfly/patternfly-design/pull/374/files)!

[2017-08-22 12:21] amarie401 commented on #580
@beanh66 awesome thank you!

[2017-08-22 12:58] dtaylor113 commented on #580
Hi @amarie401, yes, that was exactly what I was thinking.  Just please be sure that the default is 'left' when no 'compact label position' param/attribute is specified.  -Thanks!

[2017-08-22 14:28] benjaminapetersen commented on #416
Update:

<img width="1439" alt="screen shot 2017-08-22 at 10 26 18 am" src="https://user-images.githubusercontent.com/280512/29570433-737b1c60-8724-11e7-934f-3a7795e2f7ff.png">

Big improvement to the previous blank pages, though I wonder if there is a way to further give context by eliminating sidebar blocks & updating the welcome text.  For example, if the link is for "Charts", then only showing

[2017-08-22 17:45] #542 closed

[2017-08-22 17:45] aptmac commented on #542
Fixed in https://github.com/patternfly/angular-patternfly/pull/578

[2017-08-22 17:45] aptmac commented on #541
Fixed in https://github.com/patternfly/angular-patternfly/pull/578

[2017-08-22 17:52] dtaylor113 commented on #582
@Hyperkid123 , @skateman , does this resolve this issue?

[2017-08-22 18:03] skateman commented on #582
@Hyperkid123 will be back on thursday and he'll verify this, thanks!

[2017-08-22 18:08] #546 closed

[2017-08-23 12:15] AllenBW commented on #583
Reopening because what's dead never dies, need to do a little more work on this, alias id values shouldn't ever be seen (oversight) requires some filter results work...

Don't worry, it'll die again soon 🔪 🔫 :godmode:

[2017-08-23 15:22] dtaylor113 commented on #404
Hi, I can't reproduce this.  Went to: http://www.patternfly.org/pattern-library/content-views/list-view/#/code/angular, checked '[x] Double Click', double-clicking on rows and I do not see any errors in the console.

[2017-08-23 15:26] dtaylor113 commented on #496
Looks like expanded rows now have a grey border:
![image](https://user-images.githubusercontent.com/12733153/29623948-e846a128-87f5-11e7-825b-739112432d6f.png)

[2017-08-23 15:27] #496 closed

[2017-08-23 15:28] dtaylor113 commented on #495
Hi @LHinson,
I'm going to close this issue because I believe the pagination controls do match what is currently published PF designs.  Please open another issue if new designs become available.
Thanks,
Dave

[2017-08-23 15:28] #495 closed

[2017-08-23 15:34] #583 closed

[2017-08-23 16:55] beanh66 commented on #577
@benjaminapetersen We have a responsive design for the notification drawer that should help cover the issues you are experiencing at mobile and smaller screen sizes. You can find the design documentation at the bottom of this [page](http://www.patternfly.org/pattern-library/communication/notification-drawer/#/design) on the PF site. @matthewcarleton has this [story](https://patternfly.atlassian.ne

[2017-08-23 17:11] matthewcarleton commented on #577
@benjaminapetersen @beanh66  hey, ya I have already addressed these issues in the work on I'm doing in core. The expand is removed on smaller screens and the drawer is full width. It should be merged soon :)

[2017-08-23 17:47] dtaylor113 commented on #517
Hi, I cannot reproduce this.  I added your example to the pfToolbar ngDoc:

![image](https://user-images.githubusercontent.com/12733153/29630139-285f7baa-8809-11e7-99e2-031c0fc9c490.png)
...
![image](https://user-images.githubusercontent.com/12733153/29630152-382d253c-8809-11e7-9844-162b608d32e8.png)

**Clicked on Break! button**

![image](https://user-images.githubusercontent.com/12733153/2963018

[2017-08-23 17:47] #517 closed

[2017-08-23 18:21] dtaylor113 commented on #404
Closing.  Please re-open if this is still an issue.

[2017-08-23 18:21] #404 closed

[2017-08-23 19:03] benjaminapetersen commented on #577
@matthewcarleton awesome, look forward to pulling in those changes!

[2017-08-24 07:28] Hyperkid123 commented on #582
@dtaylor113 Yes  `pf-label-class="col-sm-6" pf-input-class="col-sm-6"`  works just fine. Thank you very much.

[2017-08-24 07:33] skateman commented on #582
:tada: @Hyperkid123 please close this issue :trumpet:

[2017-08-24 07:34] #582 closed

[2017-08-24 13:16] serenamarie125 commented on #580
Yes @amarie401 this is exactly what I was hoping for :)  Thank you!

[2017-08-24 13:23] serenamarie125 commented on #579
Good question @jeff-phillips-18 let me have Jenny take a look

[2017-08-24 13:46] himdel commented on #517
@dtaylor113 Will do :) is there a way to properly include patternfly in a jsfiddle or similar?

(Can't test versions newer than 3.23.1 with the manageiq bundle.)

[2017-08-24 14:09] #519 closed

[2017-08-24 14:53] LHinson opened #595 "App launcher update"
The angular version of the app launcher menu is getting cut off here: http://www.patternfly.org/pattern-library/application-framework/launcher/#/code/angular

This relates to: https://github.com/patternfly/patternfly-org/issues/452

[2017-08-24 16:36] himdel opened #596 "No CDN for angular-patternfly?"
Patternfly itself is on cdnjs (https://cdnjs.com/libraries/patternfly), all angular-patternfly dependencies seem to be there as well... but if you want to include angular-patternfly, you're out of luck :).

The only way is to include `https://www.patternfly.org/angular-patternfly/grunt-scripts/angular-patternfly.js` and `https://www.patternfly.org/angular-patternfly/css/angular-patternfly.css`, wh

[2017-08-24 16:42] jeff-phillips-18 commented on #576
So the issue is not with the date/time per se as that is custom content. The problem is that the drawer-pf-notification-info will take up as much room as it needs and whatever is left goes for the message.

We should determine at what size these should stack. This is a core Patternfly issue.

Opened: https://github.com/patternfly/patternfly/issues/721

[2017-08-24 16:54] jeff-phillips-18 commented on #596
Yeah we should get angular-patternfly on cdnjs.

[2017-08-24 17:25] amarie401 commented on #595
@jeff-phillips-18 will this be changed in the pf-org repo or in the angular-pf repo? Seems that I'll have to change styling in the dropdowns.less file..

[2017-08-24 17:39] jeff-phillips-18 commented on #595
Looks to me like the issue is purely in the A-PF example code/styling.

[2017-08-24 17:52] cdcabrera commented on #595
So the [app launcher was designed as a core PF piece](https://github.com/patternfly/patternfly/blob/master/src/less/application-launcher.less). Buttttttt the styling for the dropdown that app launcher wraps may need to be investigated further.

A quick fix would be just to mess with the ```z-index``` on the app launcher less... a more thorough fix would be to investigate the drop down css

[2017-08-24 18:50] benjaminapetersen commented on #576
Correct.  It seems like the kind of problem that could be solved with a `container-fluid` and nesting `row` and `column`s, if we wanted to stick with bootstrap layout language.  If not, then more clearly defining primary, secondary, tertiary content columns & formalizing the patterns that they follow as space expands/collapses.

[2017-08-25 13:05] #509 closed

[2017-08-25 13:12] dtaylor113 commented on #517
Ok, closing this issue.

[2017-08-25 15:11] #579 closed

[2017-08-25 19:46] serenamarie125 opened #597 "Problem with collapsed state of fixedAccordion"
Investigate issue found by ManageIQ and referenced in this PR https://github.com/ManageIQ/manageiq-ui-classic/pull/1984

Looks like angular-bootstrap isn’t adding the collapsed class to the <a> inside .panel-title

[2017-08-28 14:24] #580 closed

[2017-08-28 14:32] amarie401 opened #598 "hasClass()'s with CSS selectors in trends-chart.spec.js unit tests"
I came across 3 instances in the ```trends-chart.spec.js``` unit tests where ```.hasClass()``` was being used with CSS class selectors instead of the exact string references. Would these need to be changed? @cdcabrera @jeff-phillips-18  @dtaylor113

<img width="542" alt="screen shot 2017-08-28 at 10 29 59 am" src="https://user-images.githubusercontent.com/20052391/29777997-e9e6931e-8bdb-11e7-8c10-

[2017-08-28 16:49] benjaminapetersen opened #599 "Accessibility: Notification drawer expand & collapse links are inaccessible via keyboard navigation"
The `a ng-click`s in the header of the notification drawer need an empty `href=""` to be keyboard accessible (expand/collapse links).

Re [this comment](https://github.com/openshift/origin-web-console/pull/1326#issuecomment-325401834) on origin-web-console [PR 1326](https://github.com/openshift/origin-web-console/pull/1326)

Is there accessibility guidelines in upstream patternfly?  This would be

[2017-08-28 18:14] dtaylor113 opened #600 "pfFilterPanel: responsiveness and accesibility"
Some issues with margins/padding at mobile:

1. Active Filters / Clear All Filters text is not left aligned with the filter values
2. No top padding between filter values that wrap
3. ~~Attempted to import Bootstrap's variables.less file and use @media(max-width: @screen-md-min) to address responsiveness layout in the pfFilterPanel.  A concern was: "if someone overrides bootstrap variables then in

[2017-08-29 12:34] spadgett commented on #577
https://github.com/patternfly/patternfly/pull/717

[2017-08-29 20:37] benjaminapetersen opened #603 "Accessibility: pf wizard buttons are inaccessible via keyboard navigation"
via [issue 406](https://github.com/openshift/origin-web-catalog/issues/406) in web console.

You cannot tab through the wizard content & then access the `cancel`, `next` buttons.

![2017-08-29 16 31 15](https://user-images.githubusercontent.com/280512/29842917-437e6f80-8cd8-11e7-8147-7db7055f8e91.gif)

- [ ] button is not actually a button, it is just a node styled like a button w/o a `tabindex`.

[2017-08-29 20:38] jeff-phillips-18 commented on #603
Thanks @benjaminapetersen , would you like to contribute the solution?

[2017-08-30 15:12] benjaminapetersen commented on #603
If I take a stab at it, it looks like each of the components in `src/wizard/wizard-buttons.js` need a template with a real `button` element.  That is prob not too hard.

To fix the tab issue with content under the modal, I would tend toward keeping track of the 1st and last "tabbable" item in the modal, add a `keyup` or `keydown` handler to the last & set focus on the first if `e.which === 9 && !e

[2017-08-31 00:31] spadgett opened #604 "Notification drawer blank state styling wrong"
Looks like this was introduced in #587

cc @jeff-phillips-18 @benjaminapetersen

Before as `h1`:

<img width="976" alt="screen shot 2017-08-30 at 8 26 42 pm" src="https://user-images.githubusercontent.com/1167259/29900786-e255c8f8-8dc1-11e7-876b-cd02aeca976b.png">

After as `h4`:

<img width="970" alt="screen shot 2017-08-30 at 8 26 57 pm" src="https://user-images.githubusercontent.com/1167259/299

[2017-08-31 00:52] spadgett commented on #604
The original `h1` seems more semantically correct to me. `h4` seems arbitrary since there's no `h1` / `h2` / `h3`.

[2017-08-31 12:21] serenamarie125 opened #605 "Wizard mobile update"
Angular counterpart to https://github.com/patternfly/patternfly/pull/722

The purpose of this is to add a temporary simplified version of the wizard for mobile. This will be updated to offer a more robust option that will include all the lost functionality.

Related JIRA story: https://patternfly.atlassian.net/browse/OSUX-117

[2017-08-31 17:45] benjaminapetersen commented on #604
Hm. Yeah I wonder if semantically it could have just been a `p` tag as its not really even a heading for content.

[2017-09-01 12:08] #595 closed

[2017-09-01 18:41] benjaminapetersen opened #607 "Drawer title appears to have fallen behind the accordion"
I suspect with the latest changes to upstream [patternfly drawer](https://github.com/patternfly/patternfly/pull/717) updates.

![screen shot 2017-09-01 at 2 38 03 pm](https://user-images.githubusercontent.com/280512/29983307-32c5489c-8f23-11e7-9233-73515abbcf74.png)

I've pulled master & `npm install && bower install` 2x, don't think it is local.

@jeff-phillips-18 @matthewcarleton

[2017-09-01 18:43] benjaminapetersen commented on #607
Quick diagnosis, both the `drawer-pf-title` and the `panel-group` are `position:absolute`.

[2017-09-01 18:45] jeff-phillips-18 commented on #607
This is a Showcase only issue due to changes made for the header area. This will not affect adopters.

[2017-09-01 18:47] benjaminapetersen commented on #607
Unclear then why the demo looks wrong?  Is something that can be corrected?

[2017-09-01 18:50] benjaminapetersen commented on #604
Running the demo locally looks like this:

![screen shot 2017-09-01 at 2 46 13 pm](https://user-images.githubusercontent.com/280512/29983560-83b0c71c-8f24-11e7-91d1-301a65ac8178.png)

The `h1` class just affects the heading space.  However, when we pull it into the console, it blows up the font size.

I do see `.showcase` classes appearing here and altering style as well, however, which might be r

[2017-09-01 18:51] jeff-phillips-18 commented on #604
.showcase is a ng-docs page only thing. Just went in today. we will resolve it shortly.

[2017-09-01 18:55] jeff-phillips-18 commented on #607
Updating the header, made a changes that are effecting the examples. We will rectify shortly.

[2017-09-01 19:15] benjaminapetersen commented on #604
ok great!

[2017-09-01 19:30] #607 closed

[2017-09-01 19:30] matthewcarleton commented on #576
This was taken care of in https://github.com/patternfly/patternfly/pull/717

The content now stacks at a wider breakpoint to avoid narrow columns of content.

[2017-09-01 21:35] spadgett commented on #604
Agree

It looks like `class="h1"` in actually the problem in our console because of one of our styles

[2017-09-01 23:32] MartinKolarik commented on #596
You can also use https://www.jsdelivr.com/package/npm/angular-patternfly
No need to setup anything.

[2017-09-06 19:29] #598 closed

[2017-09-07 17:07] #520 closed

[2017-09-08 17:17] dtaylor113 opened #614 "Notification drawer: Actions Menus should not be cut off by group boundary"
I notice that the action kabob menus get cut off at group boundary:

![pfnotificationdrawer](https://user-images.githubusercontent.com/12733153/30223061-50cd7bba-9497-11e7-8687-1ade819a3b94.png)

This is especially bad if there is only one Notification, as it's hard to even see the kabob menu and it causes a vert scroll bar:

![drawer](https://user-images.githubusercontent.com/12733153/30223230-f1

[2017-09-11 19:14] #576 closed

[2017-09-11 19:19] #577 closed

[2017-09-12 11:04] jeff-phillips-18 commented on #605
Fixed by #615

[2017-09-12 11:04] #605 closed

[2017-09-12 11:10] jeff-phillips-18 commented on #437
Indeed I believe this would need to be handle by the body content in the application. I see nothing that could be done in the drawer component that would solve this.

[2017-09-12 11:10] #437 closed

[2017-09-12 11:48] jeff-phillips-18 commented on #319
http://www.patternfly.org/angular-patternfly/#/api/patternfly.card.component:pfCard%20-%20Timeframe%20Filters is the out of date documentation that does not explain the position field of the filter configuration properties.

Agreed, there should be a default value.

[2017-09-12 15:23] #603 closed

[2017-09-12 15:37] jeff-phillips-18 commented on #403
@dabeng I'm not sure what you are saying here. This looks to me like it is due to the bootstrap column layout and the current resolution and this would be correct.

[2017-09-12 18:38] cdcabrera commented on #599
Quite a few potentials for this fix:

- Per @amarie401 , ```href="javascript:void(0)"
- dump a ```tab-index="0" on there (last resort)
- ```ng-href="" ng-click="someEvent"```
- ```ng-href="" ng-click="someEvent($event)"```, and look at preventDefault in some form and maybe a hash in ng-href... though routing may be a concern

[2017-09-12 18:40] jeff-phillips-18 commented on #599
href="" will work just fine (in angular)

[2017-09-12 18:44] cdcabrera commented on #599
href works... within some past projects, for future proofing, seen letting Angular generate all of the attributes

[2017-09-12 18:48] jeff-phillips-18 commented on #599
I assume you mean you'd prefer to go with ng-href ?  If so, I'm ok with that as well.

[2017-09-12 18:50] jeff-phillips-18 commented on #599
we don't want to simply tab-index="0" and we don't want to prevent default since we want to be able to activate these via the keyboard as well.

[2017-09-12 18:50] cdcabrera commented on #599
agreed, the potential for funkiness is well, funky

[2017-09-12 19:16] AllenBW opened #617 "patternfly.charts.directive:pfUtilizationBarChart custom tooltip"
Add `tooltipFunction` to utilization bar charts to support custom tooltip.

[2017-09-13 14:26] #617 closed

[2017-09-13 14:55] cdcabrera opened #620 "Minor Clean Up of Non-breaking Changes"
Repository wide general clean up for maintenance which includes things such as trailing commas, re-declared variables, mismatched tags, etc. Couple of quick examples:

- https://github.com/patternfly/angular-patternfly/blob/master/src/charts/utilization-bar/utilization-bar-chart.component.js#L110
- https://github.com/patternfly/angular-patternfly/blob/master/test/navigation/application-launcher.sp

[2017-09-13 15:06] AllenBW opened #622 "Introduce Coveralls for continuous code coverage reporting"
https://coveralls.io/

Ok ok ok so what will this give us? Function by function (and more) reporting on if test coverage  movement per pr!  This is powerful because we can say "Oh hai, test coverage went down, add tests or yo pr isn't welcome here".  As unique contributors increase it could be a nice helper to ensure product quality over time (high test coverage).

It is free for open source :trol

[2017-09-13 15:16] dtaylor113 commented on #622
Looks good!  I see there is a Karma plug-in (https://github.com/mattjmorrison/grunt-karma-coveralls).

[2017-09-13 15:21] cdcabrera commented on #622
Agreed, If we can implement any addition that improves our ability to test, or explain testing, you've got my vote! (Some form of...) TDD for life =)

[2017-09-14 12:08] #599 closed

[2017-09-14 19:34] amarie401 opened #623 "Update Karma Dependencies"
How do we want to handle updating existing dependencies for karma and jasmine?

Is there any reason we can't do these updates?

@cdcabrera @cliffpyles @jeff-phillips-18 @dtaylor113

[2017-09-14 19:42] dtaylor113 commented on #623
Sorry, where is this 'ask' coming from?  Should be able to update existing dependencies as long as new versions support angular 1.5.   Need to update bower.json and package.json.   And possibly test/karma.conf.js if old properties have changed.

[2017-09-14 19:52] amarie401 commented on #623
I noticed that a lot of the dependencies were older. I wanted to know if it was safe to update existing dependencies as long as there weren't any major version changes.

[2017-09-14 20:12] cdcabrera commented on #623
Updating the testing dependencies first would for sure help us avoid direct dist updates. Might also help call out anything more recent that may have updated within Angular 1.5ish +

And yeah, looks like some of the dependencies we have are a little dated when compared to Angular releases... the separation of Jasmine Core from the Karma Jasmine module should kind of be an indicator for us

[2017-09-15 19:03] cliffpyles commented on #604
According to the design spec, an empty state pattern requires a title. So from what I can tell, the larger font and spacing is actually the desired outcome (according to the spec). So do we need to deviate from the design spec, or should this be left as is? I'm attaching the design spec below for reference.

![image](https://user-images.githubusercontent.com/904039/30499024-ede28514-9a26-11e7-85d9

[2017-09-15 19:14] jeff-phillips-18 commented on #604
I think leaving it as an h4 should be OK, it is technically a header.

[2017-09-15 19:15] cliffpyles commented on #604
Sounds good. I'll close the issue then.

[2017-09-15 19:15] #604 closed

[2017-09-15 20:19] amarie401 commented on #620
Found another one. After thorough testing between ng-value and value on a radio button, it looks like this [line 112 in the application-launcher](https://github.com/patternfly/angular-patternfly/blob/master/src/navigation/application-launcher.component.js#L112) could also be improved by converting to a boolean.

[2017-09-18 19:58] dtaylor113 commented on #319
Hi, I'm a little confused.  If you do not specify a position, the default is 'footer' -meaning the filter dropdown will appear in the footer.  This is show by the "Footer with Link & Timeframe filter" example which doesn't specify a position, but by default the time filter dropdown appears in the footer.

[2017-09-19 12:49] dtaylor113 commented on #539
Could we eliminate the `h4` and update `.panel-title` and set font-weight and size to match what an h4 would be?  Then apps could overwrite the `.panel-title` class.

[2017-09-19 12:52] jeff-phillips-18 commented on #539
We could. The issue would be any applications already overriding this using the h4 as the selector.

[2017-09-19 13:40] benjaminapetersen commented on #539
How closely is angular-patternfly trying to follow SemVer?  Strictly no breaking changes until next major release?

[2017-09-19 13:54] jeff-phillips-18 commented on #539
Yes.

[2017-09-19 14:06] benjaminapetersen commented on #539
So Angular (2) seems to follow SemVer, but is on version `4.4.2` with `5.0.0-beta.7 ` coming up soon.  They seem to bump the major version semi-frequently, so the SemVer signal "something breaks" is there, but its not a big delayed rollout.

Curious if that would work for angular-patternfly.  Following SemVer is great if 1.) you can go ahead and release the major as often as you have a breaking ch

[2017-09-19 14:09] jeff-phillips-18 commented on #539
Yes, that is the struggle. I don't see the h4 really causing enough of an issue to warrant making the change and creating a major release. Is this something that you feel can not be (easily) worked around?

[2017-09-19 14:11] benjaminapetersen commented on #539
Agree.  Not a problem for now, I think we have an acceptable workaround in place in the console.

[2017-09-19 22:06] #319 closed

[2017-09-19 22:06] #386 closed

[2017-09-20 10:48] jeff-phillips-18 opened #627 "Accordions do not have correct styling"
Incorrect colors and collapsed indicator always shows as if open

Angular PF Fixed Accordion:
![image](https://user-images.githubusercontent.com/11633780/30640074-784a4164-9dcf-11e7-86e5-113905bed9bc.png)

PF Fixed Accordion:
![image](https://user-images.githubusercontent.com/11633780/30640133-bd821eaa-9dcf-11e7-9597-28aef38e88c5.png)

[2017-09-20 13:19] cdcabrera opened #628 "Add Helper for Semantic Release Commit Formatting"
Look at adding some form of the Commitizen NPM helper for commit formatting, aimed at contributors who may not be familiar with the Git commit format.

- https://www.npmjs.com/package/commitizen

Additional implementation research should include the changelog aspect, could include taking a look at the cli version, and finally could include looking at applying the sematic release label to the repos

[2017-09-20 13:46] #408 closed

[2017-09-20 19:23] AllenBW opened #629 "create pfInfoStatusCard"
We have `pfAggregateStatusCard`, but what if you just want to display a few lines of text or whatever!!

Introducing, the `pfInfoStatusCard` 👍

### Should look something like the two cards in the upper right of this img:
<img width="736" alt="screen shot 2017-09-20 at 3 20 07 pm" src="https://user-images.githubusercontent.com/6640236/30663034-3e784e02-9e17-11e7-9f66-23b6af330179.png">

### a close

[2017-09-20 19:23] AllenBW commented on #629
@jeff-phillips-18 @dtaylor113 Can someone assign this to me and add enhancement as a label? (pretty please!!!)

[2017-09-20 19:24] dtaylor113 commented on #629
@AllenBW   Assigned to you and tagged.

[2017-09-21 15:09] skateman opened #631 "Topology graph bindings/attributes revisit"
Hi,

as we agreed with @serenamarie125 we're planning to enhance the topology graph with some features introduced in [my UI components PR](https://github.com/ManageIQ/ui-components/issues/75). We looked into the [attributes/bindings](http://www.patternfly.org/angular-patternfly/#/api/patternfly.charts.component:pfTopology) and found out that it's kinda complicated.

We'd like to remove:
* `icons`

[2017-09-21 15:26] #629 closed

[2017-09-21 15:43] serenamarie125 commented on #631
@skateman wonder if we can have a quick meeting to discuss the extent of the changes.  We are proposing some new changes for the topology pattern and would just like to make sure that there won't be conflicts.  I'll set something up!

[2017-09-21 16:43] skateman commented on #631
@serenamarie125 not sure if @hyperkid123 can join tomorrow, he's an intern and AFAIK he works on Tuesdays and Thursdays only.

[2017-09-21 18:48] Hyperkid123 commented on #631
It depends when. I should be available after 8pm(CEST) tomorrow and whole weekend.

[2017-09-22 13:25] serenamarie125 commented on #631
@skateman yes we agree
Based on the 9/22 meeting with @jeff-phillips-18 @dgutride @Nlcwong @skateman @Hyperkid123

Please leave the existing pfTopology component untouched and create a new pfTopologyMap component in a new Topology area.  We will later create a pfTopologyView to support filtering, details, etc.

[2017-09-28 16:16] bleathem opened #635 "Heatmap redraw function is called when the component is not displayed"
See the heatmap pattern overview page on patternfly.org:
http://www.patternfly.org/pattern-library/data-visualization/heat-map/#/overview

In the console you will see a number of errors resulting from the `redraw` method being invoked while the parent of the component is `display: none`

Some error handling should be added to the component `redraw` method to handle cases where elements are not dis

[2017-09-28 16:19] bleathem opened #636 "Canvas is a directive, consider rewriting it as a component"
Consider rewriting the canvas directive as a component.

From slack:

[2017-09-28 17:22] beanh66 commented on #631
Looks like this issue is being worked on in the following PR: https://github.com/patternfly/angular-patternfly/pull/633

[2017-09-28 17:46] beanh66 commented on #636
@jeff-phillips-18 I chatted with @dgutride briefly on this issue. Curious if you have any thoughts on the sentiment above?

[2017-09-28 18:59] jeff-phillips-18 commented on #636
Should be an easy fix.

[2017-09-28 20:27] cliffpyles commented on #627
This issue will need to be resolved when the accordion is implemented. To apply styles give `class="panel-default"` to the `uib-accordion-group`.

I've updated the documentation to indicate this also.

#634

[2017-09-28 21:51] cdcabrera commented on #620
[Remove the extra $attrs around line 52](https://github.com/patternfly/angular-patternfly/pull/634/files#diff-48742c3be5e2ef4fde31834391ea710aR52).

[2017-09-28 21:54] #627 closed

[2017-09-29 13:26] jeff-phillips-18 commented on #623
I'm OK with updating dependencies that do not effect downstream, so any dev dependencies can be updated for sure.

[2017-09-29 19:39] jeff-phillips-18 commented on #636
there are a couple of other directives that ought be components as well

https://github.com/patternfly/angular-patternfly/blob/master/src/canvas-view/canvas-editor/toolbox-items.directive.js

https://github.com/patternfly/angular-patternfly/blob/master/src/canvas-view/canvas/node-toolbar.directive.js

[2017-10-02 16:22] #623 closed

[2017-10-03 15:13] dtaylor113 commented on #636
Hi, the pfCanvas and pfCanvasEditor are rather complex directives which use a MVVM pattern.  The code was originally ported from a "SVG and AngularJS Flowchart" article.  [Read this](https://www.codeproject.com/Articles/709340/Implementing-a-Flowchart-with-SVG-and-AngularJS) for some background information and architectural decisions.

[2017-10-03 15:19] amarie401 commented on #636
Thanks for the background info @dtaylor113. The pfCanvas is definitely more complex than I originally thought when I started the conversion process. Myself and @cliffpyles @TheRealJon were going to try to tackle it, is this something that we really want to convert to a component or should we hold off?

[2017-10-03 15:31] dtaylor113 commented on #636
Hi, just spoke to @dgutride about the history behind this "ask".  I think this issue was filed just because, in general, we should stay away from using directives as they are not supported in Angular 2+ (nor $scope, $broadcast, $emit, etc...).   I don't believe any team has specifically asked for the pfCanvas to be converted.  IMO converting this probably doesn't buy us much.  I certainly wouldn't

[2017-10-03 15:40] amarie401 commented on #636
I agree @dtaylor113

[2017-10-03 15:54] dtaylor113 commented on #636
@jeff-phillips-18 and I agree that converting it to a component would be 'real nice' :-) and would allow us to eventually port it to angular-patternfly-ng.   I think a good start would be to see if you could convert it to a component and use the new `bindings` and replace/move the `post-link` directive methods to perhaps $postLink.   I know the canvas directives use a lot of `$scope` and `$broadca

[2017-10-04 15:17] jeff-phillips-18 opened #639 "Wizard should not use 'title' as a parameter, causes tooltip on the entire wizard."
the title parameter should be deprecated and allow callers to use a different parameter (wizardTitle?) so the entire wizard component does not show the title as a tooltip.

[2017-10-04 15:21] jeff-phillips-18 commented on #597
Fixed by #634

[2017-10-04 15:21] #597 closed

[2017-10-06 17:50] spadgett opened #641 "Closing the notification drawer shouldn't add `#0` to my URL"
See commit https://github.com/patternfly/angular-patternfly/commit/8332bb772a1f4b20e434241356208d34d0e2ecf6

Adding the `#0` to the URL has some bad side effects:

1. It breaks the browser history. I now have to press the back button twice to go back.
2. It clears any previous hash value. This is bad for any apps that might store state in the URL (active filters, selected tab, etc.).
3. I think th

[2017-10-09 18:58] jeff-phillips-18 commented on #539
OK, closing this issue. Feel free to reopen if you'd like it kept in the backlog for the next major release.

[2017-10-09 18:58] beanh66 commented on #534
@cdcabrera Can we close this or is the issue still standing?

[2017-10-09 19:02] benjaminapetersen commented on #539
I'd probably prefer to keep it open.  Its definitely still strange to work around the heading.

[2017-10-09 19:06] jeff-phillips-18 commented on #620
@cdcabrera  Where are we with this? Is this still important?

[2017-10-09 19:10] jeff-phillips-18 commented on #539
OK, thanks @benjaminapetersen

[2017-10-09 19:10] cdcabrera commented on #534
@beanh66 we can close then re-open as necessary

[2017-10-09 19:10] #534 closed

[2017-10-10 17:44] sg00dwin opened #642 "Notifications drawer expand toggle link should be hidden at mobile since drawer defaults to viewport width"
`drawer-pf-toggle-expand` shouldn't be displayed at mobile width. Also clicking it causes the message to jump.

![notification-expand-mobile-issue](https://user-images.githubusercontent.com/1874151/31401258-6170e06e-adc0-11e7-8439-70de7d8ece26.gif)

Patternfly
<img width="423" alt="screen shot 2017-10-10 at 1 03 49 pm" src="https://user-images.githubusercontent.com/1874151/31401282-718e9590-adc0-1

[2017-10-11 15:10] dtaylor113 opened #643 "Need to add unit tests for pfCanvas and pfCanvasEditor components"
There are extensive unit tests [here](https://github.com/dtaylor113/manageiq-ui-self_service/blob/master/tests/blueprints/blueprint-canvas.directive.spec.js) and [here](https://github.com/dtaylor113/manageiq-ui-self_service/blob/master/tests/blueprints/blueprint-editor.directive.spec.js)

These existing 'blueprint canvas' unit tests would need to be updated to work with the generalized a-pf pfCanv

[2017-10-11 15:19] amarie401 commented on #643
@dtaylor113 would you like to help with this issue?

[2017-10-11 15:25] dtaylor113 commented on #643
@amarie401, yes :-)

[2017-10-11 15:26] #636 closed

[2017-10-11 19:05] cdcabrera commented on #620
@jeff-phillips-18 the intention around this was kind of been lost, something for newer team members to use and get familiar with the code base. To keep it moving picked it back up today and started going through a bunch of pieces, be opening a PR this week around 10/11 or 12

[2017-10-11 19:40] dtaylor113 commented on #622
Note that angular-patternfly uses code climate, which does have a code coverage plug-in: https://docs.codeclimate.com/v1.0/docs/configuring-test-coverage

Not sure how it compares to coveralls.

[2017-10-11 20:21] cdcabrera commented on #620
@jeff-phillips-18 @dtaylor113

Came across some arrow function implementations while doing clean up... they appear to be limited to demos, but if our browser support is geared towards some older browser versions we should probably be careful.

- src/table/tableview/examples/table-view-basic.js
- src/table/tableview/examples/table-view-with-toolbar.js

At some point we should probably consider a ba

[2017-10-12 17:44] serenamarie125 commented on #436
@jeff-phillips-18 @beanh66 This use case isn't covered by the design pattern.  The initial intent of the notification drawer was to focus on Tasks & Events accordions.  At the time of design, the use case was to have <5 accordions, and the current design is based on that.

If we determine that we have a use case for more than that, we would need to update the design first, and then come back and i

[2017-10-12 17:46] cdcabrera opened #646 "Linter for code within unit tests and ng-docs"
Implement some form linter for unit tests. Research and possibly do the same for ng-docs to avoid future clean up tasks like #620

Related PR #644

[2017-10-12 19:49] #642 closed

[2017-10-13 19:24] #639 closed

[2017-10-16 14:27] cshinn commented on #472
This looks like good stuff. I checked on the terminology guidelines and it looks like "Items" should be capitalized in #2. Ideally, that message would be variable so it could be set to "3 of 40 Hosts" or something like that if we knew exactly what was being filtered.
I think it's fine to leave the "n Items" label on the page when no filters are active. It's good information to have. @beanh66 what

[2017-10-16 16:22] AllenBW opened #649 "JS actions to compileAsHtml templates"
so the ask is this, you want to add an ng-click, or a popover or ANYthing to an info status card row item
the problem is this, not doable because of the way trustashtml was not meant to build directives

so the solution is this, (well inspired by this) a directive that watches the template and recompiles it when necessary https://docs.angularjs.org/api/ng/service/$compile#example

[2017-10-16 16:23] AllenBW commented on #649
@jeff-phillips-18 can ya fill me up with labels and assign to meeeee ? ❤️ 🙇‍♀️

[2017-10-16 17:34] dtaylor113 commented on #649
Hmm...only issue is that we are trying to stay away from `$compile` because it is not supported in angular 2+

[2017-10-16 17:41] AllenBW commented on #649
SNAP, good headsup @dtaylor113  didn't know, i saw it used in [heatmap](https://github.com/patternfly/angular-patternfly/blob/master/src/charts/heatmap/heatmap.component.js#L165) and thought it was ok....

[2017-10-16 17:47] AllenBW commented on #649
@dtaylor113 ya think that makes this ask doa?

[2017-10-16 18:12] dtaylor113 commented on #649
yeah, heatmap is the only remaining component with $compile, just because we haven't had time to investigate how to get it working without a $compile.

[2017-10-16 18:35] dtaylor113 opened #651 "pfCanvasEditor: Cannot drag-n-drop item from toolbox onto canavs"
Results in:
[code]

[2017-10-17 12:35] AllenBW commented on #649
Ok gonna close this, will hand role the thing in the app.   Thanks for the eyes @dtaylor113 🙇‍♀️

[2017-10-17 12:35] #649 closed

[2017-10-19 15:03] #651 closed

[2017-10-19 17:31] jeff-phillips-18 opened #653 "Replace dt with h4 for Wizard Title"
Coordinate with https://github.com/patternfly/patternfly/pull/793

[2017-10-19 19:52] #641 closed

[2017-10-23 14:04] serenamarie125 opened #658 "The base dashboard card should have a loading state"
The base dashboard card (http://www.patternfly.org/pattern-library/cards/base-card/#/design) should have a loading state similar to this:
<img width="144" alt="screen shot 2017-10-23 at 9 52 33 am" src="https://user-images.githubusercontent.com/12504403/31893389-6c11d082-b7d9-11e7-9893-64d8429b5b2e.png">

We need to verify with Visuals which spinner should be used, as i think we want animation her

[2017-10-23 15:57] cdcabrera commented on #646
@jeff-phillips-18 & @dtaylor113 input appreciated

This may be a bit larger than simply turning eslint on for the test directory... first run throws back 718 "kinda, but not really problems" such as...

[code]

With the majority of the issues being ```"var" declarations must be at the top````. Can do a couple of things:
- continue going in and correcting this manually
  - then maybe taking a look

[2017-10-23 16:09] jeff-phillips-18 commented on #646
I would be ok with relaxing the `All "var" declarations must be at the top of the function scope` rule

[2017-10-23 16:35] jennyhaines commented on #658
@serenamarie125 I think that the large size regular PatternFly [spinner](https://www.patternfly.org/pattern-library/widgets/#spinner) would be nice in this spot. I don't think a stagnant patternFly icon would work in this case, since this spinner should denote "currently loading" rather than a status within a list of statuses.

[2017-10-23 17:19] dtaylor113 commented on #646
Me too

[2017-10-24 11:57] beanh66 commented on #658
FYI @serenamarie125 patternFly design story created here
https://github.com/patternfly/patternfly-design/issues/466

[2017-10-24 16:12] jennyhaines commented on #658
@beanh66 - I think the animated spinner is pretty universal. In my mind, I'd only show the spinner (no text).

[2017-10-25 11:38] #622 closed

[2017-10-26 21:21] amarie401 opened #662 "Add loading state to other pfCards"
This is a continuation of issue #658 and PR #661 to add the loading state to the rest of the pfCards

[2017-10-26 21:48] jeff-phillips-18 commented on #662
This needs to be done for info-status-card and aggregate-status-card.

pfCard - Trends, pfCard - Utilization are pf-card components with charts inside.

[2017-10-26 21:50] amarie401 commented on #662
Gotcha!

[2017-10-27 11:28] jeff-phillips-18 commented on #596
I have a PR up on CDNJS to add Angular Patternfly: https://github.com/cdnjs/cdnjs/pull/12056

[2017-10-27 13:05] #658 closed

[2017-10-27 19:28] akieling opened #663 "pfTableView: border style not in line with PatternFly"
The table borders are thicker than they should be.

![image](https://user-images.githubusercontent.com/1910095/32122045-c86655ee-bb3d-11e7-8184-889f392c0f6f.png)

[2017-10-27 20:38] akieling opened #665 "pfTableView: change templateFn to receive the row item as second parameter"
Sometimes we need to create templates that use data from other columns, e.g., an anchor link that uses the item ID in the URL and the item name for display.
Let's pass the row item as a second parameter to the `templateFn` function. This change is backward compatible.

[2017-10-28 00:07] akieling opened #667 "pfTableView: error when items array is empty"
**Current behavior**
When the `itemsAvailable` configuration option is set to `true` and the table is populated with an empty array, an error happens in the Javascript code.

**Expected behavior**
An empty array is a valid source of data for the Table View and no error should happen in that case.

**Steps to reproduce**
1. Open the `table/tableview/examples/table-view-basic.js` file and change the

[2017-10-31 13:56] #665 closed

[2017-10-31 14:21] dtaylor113 commented on #667
@akieling, I followed these steps but I do not get an error message in the console, and the table view renders with a nice empty message:

![image](https://user-images.githubusercontent.com/12733153/32228607-16a402f8-be25-11e7-9706-bd7572f91374.png)

[2017-10-31 17:05] akieling commented on #667
The latest code from master.

On Tue, Oct 31, 2017 at 3:01 PM, David Taylor <notifications@github.com>
wrote:

--
Alexandre KielingSr. Software Engineer, JBoss FuseRed Hat

[2017-10-31 18:20] beanh66 commented on #436
@jeff-phillips-18 per the explanation above, I'm going to close this issue. We can reopen if this use case surfaces at all.

[2017-10-31 18:20] #436 closed

[2017-11-02 17:37] dtaylor113 opened #669 "pfPagination: remove less overrides"
This issue was raised in #663 .
There is specialized pagination.less which overrides some of the css classes which do exist in core PF.  Need to investigate why pagination renders correctly in core PF, but needs the additional less to render correctly in angular-patternfly.

[2017-11-06 14:59] dtaylor113 commented on #614
Related PR: https://github.com/openshift/origin-web-console/pull/2462

[2017-11-06 15:16] dtaylor113 commented on #667
@akieling Are you still seeing this error?

[2017-11-06 16:36] #646 closed

[2017-11-06 20:07] cshinn opened #671 "pfDonutPctChart tooltip label shows % as well as units"
The demo charts on [pfDonutPctChart](http://www.patternfly.org/angular-patternfly/#/api/patternfly.charts.component:pfDonutPctChart) display both a percent symbol and units when hovered as shown here.
<img width="276" alt="screen shot 2017-11-06 at 3 03 58 pm" src="https://user-images.githubusercontent.com/3300756/32461510-1355c184-c304-11e7-9866-ff0e6d541d7a.png">

They should either show only %,

[2017-11-10 14:32] serenamarie125 opened #673 "Provide implementation for the Modal Overlay"
Provide implementation for the modal overlay as documented here: http://www.patternfly.org/pattern-library/forms-and-controls/modal-overlay/

Note that @jeff-phillips-18 implemented this in OpenShift, but this has not yet been contributed back to PatternFly.  Also, I think he has some suggestions re: implementation that should be considered.

[2017-11-10 14:35] serenamarie125 commented on #673
Note: associated Issue in PatternFly React: https://github.com/patternfly/patternfly-react/issues/68

[2017-11-13 16:40] #620 closed

[2017-11-14 14:00] dtaylor113 commented on #667
@akieling, is this still an issue for you?  going once, going twice...:-)

[2017-11-14 14:03] dtaylor113 commented on #543
Merging this issue with #600

[2017-11-14 14:03] #543 closed

[2017-11-14 14:09] beanh66 commented on #237
@carlosthe19916 Apologies, this issue may have slipped through without getting attention. It looks to be quite an old question by now ☹️ Please reach back out if you still have implementation questions!

[2017-11-14 14:14] dtaylor113 commented on #600
@jeff-phillips-18, @andresgalante  so looking at Patternfly core, I see may instances of using Bootstrap's `@screen` variables:

`@media (max-width: @screen-sm-max)` and `@media (min-width: @screen-md-min)`

Do we want to introduce patternfly @screen variables, ie:  `@pf-screen-md-min` which will have less of a chance of being overwritten?

[2017-11-14 14:16] akieling commented on #667
It doesn't break the UI but I can reproduce the error in both Chrome and Firefox.

[2017-11-14 14:16] beanh66 commented on #528
In OpenShift, the accordion is not used so this issue does not apply. Changing to priority 3 for now. Will bring back up if other products experience this issue!

[2017-11-14 15:05] jeff-phillips-18 commented on #600
@dtaylor113 I'd say just include the bootstrap less files. Adopters can include the less files in the order of their choice.

[2017-11-14 16:11] dtaylor113 commented on #667
@akieling, so you don't see the "No data available in table" message?

[2017-11-14 19:06] akieling commented on #667
@dtaylor113 I can see the "No data available in table" message. The UI is fine. The only issue is the error logged to the browser console.

[2017-11-16 17:05] akoserwal opened #675 "Issue with using angular-bootstrap-prettify and keycloak.js adapter"
keycloak.js has this function called _decodeToken,_ .Which decodes the jwt token and works fine.

[code]
str would look like this

`str ="{"jti":"8d95f811-7e4b-4874-9b7c-4d9908e234","exp":151434601,"nbf":0,"iat":1510849601,"iss":"https://localhost/auth/realms/demo","aud":"productapp","sub"..,"resource_access":{"account":{"roles":["dsf","view-profile"]}}}"
`

Now this will jump to  _escape_ functio

[2017-11-16 17:15] jeff-phillips-18 commented on #675
Looks like the issue is with including angular-bootstrap-prettify.js rather than an issue with angular-patternfly.

[2017-11-16 18:01] akoserwal commented on #675
@jeff-phillips-18: yeah, to be more correct. I saw  this #108 and #109. Is angular-bootstrap-prettify has been removed from the package?

[2017-11-16 18:19] jeff-phillips-18 commented on #675
It is still in our docs area but that should not effect applications. Are you doing development in angular-patternfly? I will look into removing it from our docs area.

[2017-11-16 18:45] dtaylor113 opened #676 "Move LESS files to PatternFly core"
Move as much angluar-patternfly LESS files into PatternFly core.  Determine why we needed the less files in a-pf and if we could add those settings to PF core less files. which ones make sense?  Is it because PF core doesn’t have the feature or because A-PF structured NEEDS to be different.

**There are currently 14 less files in angular-patternfly**:
[code]

[2017-11-16 18:52] akoserwal commented on #675
@jeff-phillips-18: yes, we are using angular-patternfly for our application. thanks

[2017-11-16 19:07] jeff-phillips-18 commented on #675
@akoserwal But why are you including https://www.patternfly.org/components/angular-patternfly/dist/docs/grunt-scripts/angular-bootstrap-prettify.js in your application?

[2017-11-17 05:38] akoserwal commented on #675
@jeff-phillips-18: Previous developer on this application was using this library. I think, we don't need this one. I removed it.

[2017-11-17 18:43] AllenBW opened #677 "Kebab menu on list view items in My Services is not always visible"
👋 Hi Friends!

So we gotta pickle, [using the listview dropdown menu] (http://www.patternfly.org/angular-patternfly/#/api/patternfly.views.component:pfListView) [in conjunction with the toolbar](http://www.patternfly.org/angular-patternfly/#/api/patternfly.toolbars.component:pfToolbar) does this wacky thing where it opens upwards once, then downwards thereafter...

### What, this sounds crazy, **P

[2017-11-17 19:09] jeff-phillips-18 commented on #675
OK @akoserwal, going to close this issue then.

[2017-11-17 19:09] #675 closed

[2017-11-20 19:35] TheRealJon opened #678 "Update documentation with downstream build instructions"
Currently, there are no instructions on how to configure and build for consumers who are importing PatternFly Less. There has been recent confusion about the file structure and how dependencies work in our distribution, so some clarification may be necessary.

1. Explain that the `dist/dependencies` folder is **not** used by PatternFly but is included for edge cases where our standard distribution

[2017-11-20 19:36] TheRealJon commented on #678
Created in the wrong repo. This should in the patternfly core repo.

[2017-11-20 19:36] #678 closed

[2017-11-27 14:35] #667 closed

[2017-11-27 14:39] #600 closed

[2017-11-27 18:16] jeff-phillips-18 opened #681 "pfToolbar actions layout is incorrect at mobile sizes"
![image](https://user-images.githubusercontent.com/11633780/33281970-1003368e-d375-11e7-8c1e-82fd65b23a34.png)

![image](https://user-images.githubusercontent.com/11633780/33281987-25261d1a-d375-11e7-8b5f-40c2bdea3931.png)

[2017-11-29 18:40] #677 closed

[2017-12-07 15:54] dtaylor113 opened #684 "Update Card LESS to PatternFly core"
Part of #676

Review:  https://github.com/patternfly/angular-patternfly/blob/master/src/card/card.less

Base Card
Aggregate Status Card
Trends Card
Utilization Card
Info Status Card

I'd recommend taking a screenshot of card as it is now in a-pf, and a screenshot of how it is in PF.org and/or test pages.  Also get the LESS/CSS used in both repos side by side to compare.  Where possible move/remove

[2017-12-07 16:01] dtaylor113 opened #685 "Update Chart LESS to Patternfly core"
Part of #676

Review:  https://github.com/patternfly/angular-patternfly/blob/master/src/charts/charts.less

Donut Chart
DonutPctChart
Line Chart
Sparkline Chart
Topology
Heat Map
Trends Chart
Utilization Bar Chart
Utilization Trend Chart.

I'd recommend taking a screenshot of each chart as it is now in a-pf, and a screenshot of how it is in PF.org and/or test pages.  Also get the LESS/CSS used in

[2017-12-07 17:38] jeff-phillips-18 opened #686 "Initially setting wizard-ready to false breaks wizards"
Console error:

angular.js:14199 TypeError: Cannot read property 'okToNavAway' of undefined
    at angular.module.component.controller.ctrl.allowStepIndicatorClick (angular-patternfly.js:18365)
    at fn0 (eval at compile (angular.js:15126), <anonymous>:4:707)
    at expressionInputWatch (angular.js:16254)
    at Scope.$digest (angular.js:17828)
    at ChildScope.$apply (angular.js:18102)
    at H

[2017-12-07 19:29] dtaylor113 opened #688 "Add LESS-to-SASS Converter"
https://www.npmjs.com/package/grunt-lassie

[2017-12-11 19:58] dtaylor113 commented on #688
Hi @jeff-phillips-18, @amarie401, @TheRealJon ,

I've added 'lessToSass' and 'sass' task to angular-patternfly.  The resulting sass-2-css is almost identical to the original (less-2-css):  https://www.diffnow.com/?report=jh54y

@TheRealJon, wondering if all these [rules](https://github.com/dtaylor113/angular-patternfly/blob/add-less-to-sass/Gruntfile.js#L142) are necessary?

Results in a `dist/sas

[2017-12-11 21:17] TheRealJon commented on #688
@dtaylor113 All of them should not be necessary. There are a few that are specific to Ruby related tooling and also specific to the patternfly core repo. Once you submit a PR, I can comment on which rules are unnecessary, or I can submit a PR to your fork if you want.

[2017-12-11 21:21] TheRealJon commented on #688
As you may have noticed, I am the publisher of that grunt-lassie package. I forked an existing and abandoned converted (grunt-less-to-sass) and published it so that we can update it if we need to. Some of these conversion rules could be added to that tool so that we don't need to copy/paste rules between projects.

[2017-12-11 21:39] dtaylor113 commented on #688
Thanks @TheRealJon, Either way works for me.  Feel free to post PR to my branch, or when I'm ready we can handle unneeded rules via PR comments.  -thanks

[2017-12-11 22:50] TheRealJon commented on #688
@dtaylor113 This PR should remove all the unneeded rules:
https://github.com/dtaylor113/angular-patternfly/pull/5

[2017-12-12 14:16] dtaylor113 commented on #688
Thanks @TheRealJon !

[2017-12-14 15:47] jeff-phillips-18 commented on #686
Fixed by #687

[2017-12-14 15:47] #686 closed

[2017-12-15 15:08] #688 closed

[2017-12-18 17:35] dtaylor113 opened #693 "pfToolbar: Displaying An Empty Filter Result Set in ngDoc example"
Design doc:  https://github.com/patternfly/patternfly-design/blob/master/pattern-library/forms-and-controls/filter/design/design.md#displaying-a-null-result-set

Currently in the ngDoc for pfToolbar, when there are no filter results, we incorrectly show the pfEmptyState component for 'no data'.  This should be changed to show a "null filter result set" alert as show in the design doc above.

[2018-01-02 19:21] akieling opened #694 "fix pfListView: wrong cursor in expanded area"
According to the [PatternFly documentation](http://www.patternfly.org/pattern-library/content-views/list-view/#/code), the default cursor should be shown when hovering the expanded area of a List VIew row, not the pointer cursor.

[2018-01-04 16:21] dtaylor113 commented on #407
Hi @nenonano, is this still an issue for you?  If so, could you please provide a jsfiddle example, or a snippet of code which shows your custom validation setup.
Thanks

[2018-01-04 16:26] dtaylor113 commented on #596
Latest PR is https://github.com/cdnjs/cdnjs/pull/12056

[2018-01-04 16:32] himdel commented on #596
Make that https://github.com/cdnjs/cdnjs/pull/12085 :)

[2018-01-04 16:57] #694 closed

[2018-01-04 17:26] nenonano commented on #407
On 04/01/2018 17:21, David Taylor wrote:

Hi David

unfortunately my work was a POC that had no success and interest from
the people I proposed to, so I have no answer for you.

Thank you

Ciao

S.

[2018-01-04 18:09] dtaylor113 commented on #407
Ok, then closing this issue.
Thanks,
Dave

[2018-01-04 18:09] #407 closed

[2018-01-04 20:41] dtaylor113 commented on #681
PF Test Page for toolbar does mobile this way:

![image](https://user-images.githubusercontent.com/12733153/34583401-a10ee5ac-f165-11e7-912a-dd22703d386e.png)

[2018-01-16 14:09] rhamilto opened #698 "Empty ul.list-inline in .toolbar-pf-results of pf-filter-panel-results directive causes display bug in Firefox"
empty ul (invalid markup)
![screen shot 2018-01-16 at 9 03 46 am](https://user-images.githubusercontent.com/895728/34992884-9c1a7062-fa9c-11e7-82ef-74beeadb1abc.PNG)

removing the empty ul fixes the bug
![screen shot 2018-01-16 at 9 04 33 am](https://user-images.githubusercontent.com/895728/34992911-b4639f86-fa9c-11e7-8cf4-a1f88bddc100.PNG)

Reported by Red Hat QE at https://bugzilla.redhat.com/sh

[2018-01-16 16:07] #698 closed

[2018-01-19 09:58] pulgupta opened #702 "Tree List View with Multi-Child Expansion - Angular 1.x implementation not available"
Hi Team,

We are using patternfly to develop a full fledged application for which we need to show our org hierarchy. We zeroed down to "Tree List View with Multi-Child Expansion" component for this purpose. http://www.patternfly.org/pattern-library/content-views/tree-list-view/

However I checked and the Angular 1.x implementation is missing. Can you please prioritize and implement the same. Also

[2018-01-19 15:23] dtaylor113 commented on #702
Hi @pulgupta, thank you for filing this issue, it's great to get feedback/input from the community!

Are you working on a Red Hat application?  If so, which team?  -thanks!

Unfortunately, it looks like there isn't any patternfly core HTML or CSS for Tree List view.   We will bring up your request to the Patternfly Core team so they may prioritize based on their ongoing work.    Once we have patte

[2018-01-19 15:26] dtaylor113 commented on #702
Actually, it would probably be based on an extension of "Expanding Rows" for `pfListView` (see checkbox under the example)

[2018-01-22 14:28] jeff-phillips-18 commented on #596
https://github.com/cdnjs/cdnjs/pull/12085 has merged!

CDNJS support is now available!

[2018-01-22 14:28] #596 closed

[2018-01-24 21:47] TheRealJon opened #704 "pfFilterPanel allows identical keyword to be entered multiple times"
Enterning the exact same keyword in the pfFilterPanel multiple times will keep adding new items to the current filters list. Clicking the remove button on one of those items then removes all of them.

Discovered in OpenShift Console:
![image](https://user-images.githubusercontent.com/22625502/35358776-c9336d9e-0125-11e8-8d96-26441acb6193.png)

[2018-01-25 20:12] TheRealJon commented on #671
Adding a `tooltip` attribute that will allow for selection between "percent", "scalar", or "both".

[2018-01-29 18:50] #704 closed

[2018-01-31 11:37] #671 closed

[2018-02-01 14:44] rhamilto opened #708 "Empty ul.list-inline in .toolbar-pf-results of pf-filter-results directive causes display bug in Firefox"
empty ul (invalid markup)
![screen shot 2018-02-01 at 9 36 53 am](https://user-images.githubusercontent.com/895728/35684255-535e6d48-0734-11e8-8a69-6c282ef80167.PNG)

removing the empty ul fixes the bug
![screen shot 2018-02-01 at 9 36 53 am](https://user-images.githubusercontent.com/895728/35684267-5bf69a52-0734-11e8-9166-e6e9510fdf4e.PNG)

Reported by Red Hat QE at https://bugzilla.redhat.com/sh

[2018-02-01 16:25] beanh66 commented on #549
@benjaminapetersen Can I close this issue? Looks like Jeff resolved it, but became more of a documentation discussion. Let me know, I was just doing some cleanup work. Thanks!

[2018-02-01 16:54] benjaminapetersen commented on #549
Can the docs call this out more clearly (see my above comment).  Currently it looks like:

<img width="1069" alt="screen shot 2018-02-01 at 11 53 07 am" src="https://user-images.githubusercontent.com/280512/35691490-916361f4-0746-11e8-8ad2-8ed812aacd8b.png">

I'd love to see some color or something to draw attention to that quirk.  Thanks!

[2018-02-01 18:02] #708 closed

[2018-02-01 20:49] beanh66 commented on #549
Okay thanks for posting the image @benjaminapetersen, we'll try to get that change in!

[2018-02-01 21:25] jcaianirh commented on #681
Looking into this issue.

The original thought was that this is an angular-patternfly issue, however, looking at the screenshots of behavior below, seems as though the fix should be targeted to patternfly core css.
Angular PatternFly Behavior:

![angularpatternflytoolbarbuttonwrap](https://user-images.githubusercontent.com/35978579/35704106-4f52179e-076c-11e8-8204-3019b825bd6b.png)

PatternFly Cor

[2018-02-02 00:46] benjaminapetersen commented on #549
Sounds good!

[2018-02-06 16:06] #549 closed

[2018-02-07 16:13] mcarrano opened #711 "angular-ui-bootstrap Datepicker component does not include PatternFly styling"
Apparently pfDateTimepicker was dropped from the current PatternFly release in favor of a recommendation to use the angular-ui-boostrap Datepicker component (see http://angular-ui.github.io/bootstrap/versioned-docs/1.0.0/). While this meets the functional requirements for selecting dates, the styling of this component is inconsistent with the PatternFly design here: http://www.patternfly.org/patte

[2018-02-07 20:23] andresgalante commented on #681
Hi @jeff-phillips-18 , I just had a talk with @jcaianirh

This is a CSS known issue on PF3. We could fix it on pf3 by restructuring the toolbar with flex instead of floats, but that will generate regresions on users using the toolbar component.

What do you think? Can we leave this one as is and deliver a better solution on pfnext?

[2018-02-07 20:56] dtaylor113 commented on #681
Hi @andresgalante, is there a less/css solution we could implement in angular-patternfly; override pf core toolbar less?

[2018-02-07 22:24] jeff-phillips-18 commented on #681
@andresgalante I wouldn't want to restructure the toolbar at this point for this issue. I would leave it be and fix in the next major release.

[2018-02-08 14:34] dtaylor113 commented on #711
### Here are both components side-by-side:

**Patternfly Design**
![image](https://user-images.githubusercontent.com/12733153/35978110-d11e407c-0cb2-11e8-8111-f088b99353ca.png)

**ui.bootstrap.datepicker**
![image](https://user-images.githubusercontent.com/12733153/35978167-fbc94b64-0cb2-11e8-8ea5-42b3c7479329.png)

[2018-02-08 14:54] dtaylor113 commented on #711
Since this is a styling enhancement, I don't think we need a new component, rather we would override the ui.bootstrap.datepicker css selectors and maybe able to just create an ngDoc example which uses the native ui.bootstrap.datepicker and the angular-patternfly datepicker css overrides.

[2018-02-08 15:26] mcarrano commented on #711
Yes, I agree @dtaylor113 . I don't really care that the behaviors and layout are not exactly the same. If we can just override the CSS do it appears more consistent with the core Datepicker, that will be sufficient. The only thing I wonder is whether it's possible to hide the column of numbers (weeks of the year?) down the left hand side. IMO they just add clutter and are not particularly useful i

[2018-02-08 15:36] andresgalante commented on #681
@dtaylor113 yes, you can re write the CSS, the problem stands the same, you'll generate a problem to everyone consuming it.

[2018-02-08 19:12] dtaylor113 opened #713 "Fix compile warnings during build"
We we run `grunt serve` or `grunt build` we see these two compilation warnings:

[code]
...and...
[code]

It would be ideal to fix or hide these warnings.

[2018-02-09 14:59] #681 closed

[2018-02-14 18:22] dtaylor113 commented on #575
Please see @akieling 's last commit in this Issue.

[2018-02-14 18:27] dtaylor113 commented on #237
Closing due to inactivity, please reopen if still an issue.

[2018-02-14 18:27] #237 closed

[2018-02-14 18:47] dtaylor113 commented on #673
Please see the Pattern [design](http://www.patternfly.org/pattern-library/forms-and-controls/modal-overlay/#design) when implementing this.

This is implemented in angular-patternfly's `pfWizard`'s outer container, meaning the title bar with 'x' close icon, the body, and the footer which contains the action buttons.

First step would be to create a skeleton new component which simply has the HTML

[2018-02-15 14:58] #693 closed

[2018-02-16 19:30] akieling opened #715 "pfTableView: default sorting doesn't change based on visibility of checkboxes column"
**Current behavior**
When the table shows checkboxes, the default sorting is by the second column.
When the table doesn't show checkboxes, the default sorting is by the **second** column.

**Expected behavior**
When the table shows checkboxes, the default sorting is by the second column.
When the table doesn't show checkboxes, the default sorting is by the **first** column.

[2018-02-19 14:30] dtaylor113 commented on #203
Possible duplicate of #673

[2018-02-19 14:32] dtaylor113 commented on #518
@AllenBW, hi, is this still an issue for you?  -thanks

[2018-02-19 14:36] AllenBW commented on #518
@dtaylor113 nope! we're all good for the time being, thanks for touching base! <3

[2018-02-19 14:36] #518 closed

[2018-02-19 14:40] dtaylor113 commented on #715
Has to do with how we set default [dt](https://github.com/patternfly/angular-patternfly/blob/master/src/table/tableview/table-view.component.js#L28) options.  Need to check if `showCheckboxes` is true or not.  If true, then column 1 is used (0 = checkbox column).  If false, dt order default should be 0.

[2018-02-19 16:50] akieling opened #717 "pfToolbar: make filter results count optional"
The filter results count could be made optional by showing it only when `$scope.toolbarConfig.filterConfig.resultsCount` is set.

![pf-toolbar](https://user-images.githubusercontent.com/1910095/36388739-a4a2523c-157b-11e8-92c2-7d9685499865.png)

[2018-02-19 17:58] #713 closed

[2018-02-19 18:10] #663 closed

[2018-02-20 16:58] #715 closed

[2018-02-21 18:53] beanh66 commented on #702
@dtaylor113 It sounds like the support for this in PF core does already exist, per a comment from @LHinson on https://github.com/patternfly/patternfly/issues/950. Can we move this over to the "Next to Do" column on the project board? Thanks!

[2018-02-21 21:33] dtaylor113 commented on #702
Hi @beanh66, I still do not see where I can get the pf 'core' HTML, CSS/LSS for 'Tree List View with Multi-Child Expansion'?

[2018-02-22 14:20] LHinson commented on #702
@dtaylor113 we don't have the specific example coded in core to display on that page. That said pf-list [1] is flexible and supports the nested rows. If this is urgent and you cannot wait on core, I've asked @matthewcarleton to help give you some pointers on how to nest them from a core perspective. My hope is that this guidance plus viewing the patternfly-ng example [2], will give you the informa

[2018-02-22 14:32] dtaylor113 commented on #702
Hi @LHinson, ok sounds reasonable.  We can work on creating the HTML/CSS and contributing it back to PF core.  It would be great if @matthewcarleton could give us some initial direction.   I'm not sure when we will be starting this, it is in our backlog at the moment.

[2018-02-22 14:39] LHinson commented on #702
@dtaylor113 thanks! We can can cover the core example, just wanted to make sure you knew that you weren't blocked on angular-pf!

[2018-02-23 10:12] alexkieling opened #720 "pfToolbar: only show second toolbar row when there are active filters"
Based on PatternFly's Toolbar page and the pattern implementation in Patternfly NG, the second toolbar row should only be visible when there are active filters.
References:
http://www.patternfly.org/pattern-library/forms-and-controls/toolbar/
https://rawgit.com/patternfly/patternfly-ng/master-dist/dist-demo/#/toolbar

[2018-02-23 15:22] dtaylor113 commented on #720
Not sure that is accurate, see http://www.patternfly.org/pattern-library/forms-and-controls/toolbar/#design
9. Content and Results Count: ..."If no filters are applied, only the total number of items and the item type are displayed (e.g. 40 Virtual Machines). "

[2018-02-23 15:28] dtaylor113 commented on #720
Patternfly-React seems to also show the second row when no filters.  [example](https://rawgit.com/patternfly/patternfly-react/gh-pages/index.html?selectedKind=Toolbar&selectedStory=Toolbar&full=0&down=1&left=1&panelRight=0&downPanel=storybooks%2Fstorybook-addon-knobs)
Both Angular-Patternfly and Patternfly-React do not display the results count right-aligned though.

[2018-02-23 15:41] dtaylor113 opened #721 "pfFilterResults: Update Results Count Label to PatternFly Design"
Here is the current impl.:

![image](https://user-images.githubusercontent.com/12733153/36602153-4586f5e8-1885-11e8-8c76-99e35c6b0157.png)

Here is the [Patternfly Design](http://www.patternfly.org/pattern-library/forms-and-controls/toolbar/#design):

![image](https://user-images.githubusercontent.com/12733153/36602131-367c73ca-1885-11e8-997c-80cec51b8b6f.png)

- The results count label is left al

[2018-02-23 15:46] dtaylor113 commented on #717
Closing and consolidating into #721

[2018-02-23 15:46] #717 closed

[2018-02-23 16:13] dtaylor113 opened #722 "pfToolbar: Filter Dropdown is not left-aligned"
Current Impl:

![image](https://user-images.githubusercontent.com/12733153/36603549-2070ed1e-1889-11e8-80f4-d82e8c26d4ee.png)

Should look like:

![image](https://user-images.githubusercontent.com/12733153/36603853-16d1c91c-188a-11e8-91f3-376623716404.png)

And if #721 is implemented, the filter dropdown would align with the 'Active Filters:' label.

Seems to be correct here:  https://www.patternf

[2018-02-23 17:06] akieling commented on #720
@dtaylor113 It looks like the lack of consistency across the documentation is causing confusion and leading to different implementations.

[2018-02-23 18:22] dtaylor113 commented on #720
@akieling, yeah, I was looking through some of the pf-design repo. issues, looks like @mcarrano is tracking a few of the inconsistencies.   @mcarrano to you happen to know if this one is in the pf design backlog?  -thanks

[2018-02-23 20:12] dtaylor113 commented on #721
Issue in Patternfly Design: https://github.com/patternfly/patternfly-design/issues/576

[2018-02-23 20:14] dtaylor113 commented on #720
Issue in Patternfly Design: https://github.com/patternfly/patternfly-design/issues/576

[2018-02-23 20:19] dtaylor113 commented on #721
Related open issue in patternfly-design:  https://github.com/patternfly/patternfly-design/issues/576

[2018-02-26 12:44] #711 closed

[2018-03-02 14:09] dtaylor113 opened #723 "Implement Login Page"
Per pf design:
http://www.patternfly.org/pattern-library/application-framework/login-page/

[2018-03-09 14:54] dtaylor113 commented on #723
There has been some talk recently of trying to implement the new login page/component in all js frameworks.

[2018-03-09 15:18] dtaylor113 opened #725 "pfPagination: update disabled buttons to display not-allowed cursor/tooltip"
To match design changes here:
https://github.com/patternfly/patternfly/pull/976

[2018-03-09 15:27] dtaylor113 opened #726 "Notification Drawer: missing hover states on notification items"
Update Notification Drawer hover states and cursors per latest pf core change:
https://github.com/patternfly/patternfly/pull/974

[2018-03-09 15:31] dtaylor113 commented on #702
https://github.com/patternfly/patternfly/pull/980

[2018-03-12 13:49] julienlim opened #727 "Filtering does not work consistently and provides unexpected results"
Noting here that there's a bug with the filtering component in that it does not work consistently and provides unexpected results -- see https://github.com/Tendrl/ui/issues/866#event-1515448349 for additional details.

[2018-03-12 14:15] dtaylor113 commented on #727
Hi @julienlim, can you please elaborate on what the issue is?   I see from #866 that you entered a '1' and then a '4912'; where you expecting a single result?
Just FYI, the logic to apply the filter to the results set is done in the application code, not patternfly itself, to that end, could you please supply a link to the code which runs the filter shown in #866  -thanks!